Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2023-07, with the labels that each got.

#56 Requirements, workflow and governance guidelines and definitions
  CODEOWNERS
  CONTRIBUTING.md
  CommunityFeatures.md
  GOVERNANCE.md
Labels: documentation

#140 Add Debug launch profiles for VSCode
  .vscode/launch.json
  scripts/tasks/task-debug.py
  scripts/tasks/util.py
Labels: DBT, vscode

#139 Update descriptions for features I added
  CommunityFeatures.md
Labels: documentation

#135 midi: initial support for SysEX messages
  src/deluge/io/midi/midi_device.h
  src/deluge/io/midi/midi_device_manager.cpp
  src/deluge/io/midi/midi_device_manager.h
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
Labels: enhancement

#149 Add VSCode tasks for building and debug server launch
  .vscode/tasks.json
Labels: DBT, vscode

#110 chore: remove evil gotos
  src/deluge/hid/display/oled.cpp
Labels: refactor

#129 Quantize
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/hid/encoders.cpp
  src/deluge/model/settings/runtime_feature_settings.h
Labels: enhancement

#141 Horizontal Shift for Audio Clips
  CommunityFeatures.md
  src/deluge/gui/views/clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/action/action.h
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/clip/audio_clip.h
  src/deluge/model/clip/clip.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip.h
  src/deluge/model/consequence/consequence_clip_horizontal_shift.cpp
  src/deluge/model/consequence/consequence_clip_horizontal_shift.h
  toolchain/REQUIRED_VERSION
Labels: enhancement

#137 Master Compressor
  src/deluge/dsp/master_compressor/master_compressor.cpp
  src/deluge/dsp/master_compressor/master_compressor.h
  src/deluge/gui/views/clip_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/session_view.h
  src/deluge/hid/display/oled.h
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/settings/runtime_feature_settings.h
  src/deluge/model/song/song.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
  toolchain/REQUIRED_VERSION
Labels: enhancement

#147 global CC support
  src/definitions.h
  src/deluge/gui/menu_item/midi/command.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/learned_midi.cpp
  src/deluge/io/midi/learned_midi.h
  src/deluge/playback/playback_handler.cpp
Labels: enhancement

#166 Add Python Black Formatter as a vscode recommend
  .vscode/extensions.json
Labels: DBT, vscode

#189 remove aliases for bufferPICUart and restructure some LEDs stuff
  src/RZA1/uart/sio_char.h
  src/deluge/deluge.cpp
  src/deluge/gui/ui/browser/sample_browser.cpp
  src/deluge/gui/ui/load/load_song_ui.cpp
  src/deluge/gui/ui/load/load_song_ui.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/timeline_view.cpp
  src/deluge/hid/encoders.cpp
  src/deluge/hid/led/indicator_leds.cpp
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/hid/led/pad_leds.h
  src/deluge/testing/hardware_testing.cpp
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: refactor

#163 Change row color in session View #enhancement
  CommunityFeatures.md
  src/deluge/gui/views/session_view.cpp
Labels: enhancement

#170 Midi Takeover Mode
  .cproject
  CommunityFeatures.md
  src/definitions.h
  src/deluge/gui/menu_item/midi/takeover.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/modulation/knob.h
  src/deluge/storage/flash_storage.cpp
Labels: enhancement

#138 Performance keyboard layout API and in-key only layout
  CommunityFeatures.md
  src/definitions_cxx.hpp
  src/deluge/deluge.cpp
  src/deluge/gui/menu_item/file_selector.cpp
  src/deluge/gui/menu_item/multi_range.cpp
  src/deluge/gui/menu_item/sample/loop_point.cpp
  src/deluge/gui/ui/browser/sample_browser.cpp
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/keyboard/keyboard_screen.h
  src/deluge/gui/ui/keyboard/layout.h
  src/deluge/gui/ui/keyboard/layout/in_key.cpp
  src/deluge/gui/ui/keyboard/layout/in_key.h
  src/deluge/gui/ui/keyboard/layout/isomorphic.cpp
  src/deluge/gui/ui/keyboard/layout/isomorphic.h
  src/deluge/gui/ui/keyboard/layout/velocity_drums.cpp
  src/deluge/gui/ui/keyboard/layout/velocity_drums.h
  src/deluge/gui/ui/keyboard/notes_state.h
  src/deluge/gui/ui/keyboard/state_data.h
  src/deluge/gui/ui/keyboard_screen.cpp
  src/deluge/gui/ui/load/load_instrument_preset_ui.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/sample_marker_editor.cpp
  src/deluge/gui/ui/save/save_instrument_preset_ui.cpp
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui_timer_manager.cpp
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/gui/waveform/waveform_renderer.cpp
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/hid/matrix/matrix_driver.cpp
  src/deluge/model/action/action_logger.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip.h
  src/deluge/model/clip/instrument_clip_minder.cpp
  src/deluge/model/song/song.cpp
Labels: enhancement
