Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2023-06, with the labels that each got.

#20 add Doxygen configuration
  Doxyfile
Labels: documentation, enhancement

#34 fix capitalization in release and 7seg builds
  .cproject
Labels: bug

#50 Correction of redundant definition.
  src/drivers/RZA1/usb/r_usb_basic/src/driver/r_usb_plibusbip.c
Labels: bug

#60 Compile-time signed_saturate bits parameter
  src/AudioEngine.cpp
  src/AutoParam.cpp
  src/FilterSet.cpp
  src/FilterSetConfig.cpp
  src/LiveInputBuffer.cpp
  src/LivePitchShifter.cpp
  src/ModControllableAudio.cpp
  src/Sample.cpp
  src/SampleRecorder.cpp
  src/VoiceSample.cpp
  src/WaveTable.cpp
  src/drum.cpp
  src/functions.cpp
  src/functions.h
  src/patcher.cpp
  src/voice.cpp
Labels: bug

#69 Deluge Build Tool (DBT) - Cross-platform, Low dependency, SCons-based build system
  .gitignore
  SConstruct
  dbt
  dbt.cmd
  scripts/dbt/__init__.py
  scripts/dbt/dbt_entry.py
  scripts/dbt/project.py
  scripts/dbt/util.py
  scripts/toolchain/dbtenv.cmd
  scripts/toolchain/dbtenv.sh
  scripts/toolchain/windows-toolchain-download.ps1
  site_scons/commandline.scons
Labels: enhancement

#73 Generate compile commands
  .editorconfig
  .gitignore
  SConstruct
Labels: DBT

#17 Increase resolution of patch cable strength in the sound editor
  src/MenuItemPatchCableStrength.cpp
  src/MenuItemPatchCableStrength.h
Labels: enhancement

#32 Random and S&H LFOs and new LFO (and Delay, Arp, ...) sync types
  src/Arpeggiator.cpp
  src/Arpeggiator.h
  src/AudioEngine.cpp
  src/Delay.cpp
  src/Delay.h
  src/GlobalEffectableForClip.cpp
  src/InstrumentClip.cpp
  src/MenuItemSyncLevel.cpp
  src/MenuItemSyncLevel.h
  src/ModControllableAudio.cpp
  src/compressor.cpp
  src/compressor.h
  src/definitions.h
  src/functions.cpp
  src/lfo.cpp
  src/lfo.h
  src/song.cpp
  src/song.h
  src/sound.cpp
  src/sound.h
  src/soundeditor.cpp
  src/storagemanager.cpp
  src/storagemanager.h
Labels: enhancement

#72 Build action
  .github/workflows/build.yml
  .github/workflows/format-check.yml
Labels: enhancement, github workflow

#74 DBT additions, odds, and ends
  SConstruct
  scripts/__init__.py
  scripts/dbt/util.py
  site_scons/commandline.scons
  site_scons/e2_xml.scons
  site_scons/generic_env.scons
Labels: enhancement, DBT

#79 Windows - fixed broken toolchain path
  scripts/toolchain/dbtenv.cmd
Labels: bug, DBT

#80 Fix warnings
  src/AudioClip.cpp
  src/AudioFile.cpp
  src/AutoParam.cpp
  src/GlobalEffectable.cpp
  src/InstrumentClipView.cpp
  src/MemoryRegion.cpp
  src/MenuItemSourceSelection.cpp
  src/ModControllableAudio.cpp
  src/NoteRow.cpp
  src/Output.cpp
  src/drivers/All_CPUs/uart_all_cpus/uart_all_cpus.c
  src/drivers/RZA1/diskio.c
  src/drivers/RZA1/intc/intc_handler.c
  src/drivers/RZA1/intc/intc_handler.h
  src/drivers/RZA1/sdhi/inc/sdif.h
  src/drivers/RZA1/sdhi/src/sd/access/sd_read.c
  src/drivers/RZA1/sdhi/src/sd/access/sd_write.c
  src/drivers/RZA1/sdhi/src/sd/inc/access/sd.h
  src/drivers/RZA1/ssi/drv_ssif.h
  src/drivers/RZA1/usb/r_usb_basic/src/driver/r_usb_hdriver.c
  src/drivers/RZA1/usb/r_usb_basic/src/driver/r_usb_hhubsys.c
  src/drivers/RZA1/usb/r_usb_basic/src/driver/r_usb_hmanager.c
  src/drivers/RZA1/usb/r_usb_hmidi/src/r_usb_hmidi_driver.c
  src/functions.h
  src/instrument.h
  src/kit.h
  src/playbackhandler.cpp
  src/song.cpp
  src/soundinstrument.h
Labels: bug

#89 workflow: use versioned toolchain
  .github/workflows/build.yml
Labels: DBT, github workflow

#59 Community feature settings in main settings menu
  src/Deluge.cpp
  src/MenuItemRuntimeFeatureSetting.cpp
  src/MenuItemRuntimeFeatureSetting.h
  src/MenuItemRuntimeFeatureSettings.cpp
  src/MenuItemRuntimeFeatureSettings.h
  src/RuntimeFeatureSettings.cpp
  src/RuntimeFeatureSettings.h
  src/soundeditor.cpp
Labels: enhancement

#114 Revert "Merge pull request #104 from stellar-aria/feature/proper-init"
  linker_script_rz_a1l.ld
  src/ActionLogger.cpp
  src/AudioEngine.cpp
  src/AudioFileManager.cpp
  src/AutomatedTester.cpp
  src/AutomatedTester.h
  src/Browser.cpp
  src/Deluge.cpp
  src/Deluge.h
  src/Encoders.cpp
  src/GeneralMemoryAllocator.cpp
  src/MIDIDeviceManager.cpp
  src/MIDIDeviceManager.h
  src/Slicer.cpp
  src/main.c
  src/resetprg.c
  src/soundeditor.cpp
Labels: bug

#96 toolchain: single source of truth for required version
  .github/workflows/build.yml
  scripts/toolchain/dbtenv.cmd
  scripts/toolchain/dbtenv.sh
  toolchain/REQUIRED_VERSION
Labels: DBT

#120 Stereo Chorus
  src/definitions.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/model/global_effectable/global_effectable.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/util/functions.cpp
Labels: enhancement

#112 Incorporate DrumKeyboardScreen from alter-alter fork
  src/definitions.h
  src/deluge/deluge.cpp
  src/deluge/gui/ui/keyboard_screen.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/view.cpp
Labels: enhancement

#122 Drum Randomizer
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/settings/runtime_feature_settings.h
Labels: enhancement

#124 fix for devices with more ports than deluge supports
  src/deluge/io/midi/midi_device_manager.cpp
  src/deluge/io/midi/midi_engine.cpp
Labels: bug
