Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2023-08, with the labels that each got.

#294 Switch to format_string, decrease fmtlib compiled size
  lib/CMakeLists.txt
  src/deluge/gui/menu_item/cv/transpose.h
  src/deluge/gui/menu_item/cv/volts.h
  src/deluge/gui/menu_item/envelope/segment.h
  src/deluge/gui/menu_item/formatted_title.h
  src/deluge/gui/menu_item/modulator/transpose.h
  src/deluge/gui/menu_item/osc/pulse_width.h
  src/deluge/gui/menu_item/osc/retrigger_phase.h
  src/deluge/gui/menu_item/osc/source/feedback.h
  src/deluge/gui/menu_item/osc/source/volume.h
  src/deluge/gui/menu_item/osc/source/wave_index.h
  src/deluge/gui/menu_item/osc/type.h
  src/deluge/gui/menu_item/sample/interpolation.h
  src/deluge/gui/menu_item/sample/repeat.h
  src/deluge/gui/menu_item/sample/reverse.h
  src/deluge/gui/menu_item/sample/time_stretch.h
  src/deluge/gui/menu_item/sample/transpose.h
  src/deluge/gui/menu_item/source/patched_param/fm.h
  src/deluge/gui/ui/menus.cpp
Labels: Code Review wanted

#251 Display clips in a grid in song (session) view
  docs/community_features.md
  src/NE10/inc/NE10_types.h
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/keyboard/layout/isomorphic.cpp
  src/deluge/gui/ui/load/load_song_ui.h
  src/deluge/gui/ui/ui.h
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/audio_clip_view.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/session_view.h
  src/deluge/gui/views/timeline_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/hid/led/pad_leds.h
  src/deluge/model/action/action_logger.cpp
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
Labels: enhancement

#349 Feature: Patchable wavefolding distortion
  src/definitions_cxx.hpp
  src/deluge/dsp/util.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/model/voice/voice.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/util/fixedpoint.h
  src/deluge/util/functions.cpp
Labels: Code Review wanted

#157 sound editor: "mod matrix" overview over all active patch cables
  docs/community_features.md
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/patch_cables.cpp
  src/deluge/gui/menu_item/patch_cables.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/menus.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/sound_editor.h
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: enhancement

#347 [Ready to Merge] Automation View: Add new parameters
  docs/community_features.md
  docs/features/automation_view.md
  src/definitions_cxx.hpp
  src/deluge/gui/views/automation_instrument_clip_view.cpp
  src/deluge/util/functions.cpp
Labels: Code Review wanted

#351 WIP: GeneralMemoryAllocator pretty-printer
  contrib/debug/heap_state.py
  src/deluge/memory/memory_region.cpp
Labels: DBT

#211 Feature: FILL iteration mode for notes
  docs/community_features.md
  src/definitions.h
  src/definitions_cxx.hpp
  src/deluge/gui/menu_item/runtime_feature/settings.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/note/note.h
  src/deluge/model/note/note_row.cpp
  src/deluge/model/settings/runtime_feature_settings.cpp
  src/deluge/model/settings/runtime_feature_settings.h
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
  src/deluge/playback/playback_handler.cpp
  src/deluge/playback/playback_handler.h
  src/deluge/storage/flash_storage.cpp
Labels: Code Review wanted

#366 VSCode: update debug configs for linux
  .vscode/c_cpp_properties.json
  .vscode/launch.json
Labels: vscode

#395 Load synth presets into kit rows
  docs/community_features.md
  src/deluge/gui/ui/load/load_instrument_preset_ui.cpp
  src/deluge/gui/ui/load/load_instrument_preset_ui.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/note/note_row.cpp
  src/deluge/storage/storage_manager.cpp
  src/deluge/storage/storage_manager.h
Labels: Code Review wanted

#196 Fill clips
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pr-build.yml
  docs/community_features.md
  pages/public/index.html
  src/deluge/gui/context_menu/launch_style.cpp
  src/deluge/gui/context_menu/launch_style.h
  src/deluge/gui/l10n/english.h
  src/deluge/gui/l10n/seven_segment.h
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/ui.h
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
  src/deluge/model/clip/clip.cpp
  src/deluge/model/clip/clip.h
  src/deluge/model/song/song.cpp
  src/deluge/playback/mode/session.cpp
  src/deluge/playback/mode/session.h
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: Code Review wanted

#338 Documentation and Site update for upcoming first release
  .github/FUNDING.yml
  CONTRIBUTING.md
  DEBUG-DIY_HARDWARE.md
  GOVERNANCE.md
  README.md
  docs/dev/getting_started.md
Labels: documentation
