Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-04, with the labels that each got.

#1631 Fix lag at high load
  src/deluge/processing/engines/audio_engine.cpp
Labels: bug, cherry-pick

#1628 dont render compressor when threshold is zero
  src/deluge/dsp/compressor/rms_feedback.cpp
  src/deluge/model/global_effectable/global_effectable_for_clip.cpp
Labels: bug, cherry-pick

#1632 Save arp settings regardless of arp being Off
  src/deluge/model/clip/instrument_clip.cpp
Labels: cherry-pick

#1613 Display master compressor param names
  src/deluge/gui/views/view.cpp
  src/deluge/model/global_effectable/global_effectable.cpp
Labels: cherry-pick

#1607 Automation View ~ Bug fixes and added select scrolling of patch cables
  CHANGELOG.md
  docs/community_features.md
  docs/features/automation_view.md
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/clip/audio_clip.h
  src/deluge/model/clip/clip.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip.h
  src/deluge/modulation/patch/patch_cable_set.h
Labels: cherry-pick

#1614 Independent sample locking and improved lock rendering
  CHANGELOG.md
  src/deluge/gui/ui/sample_marker_editor.cpp
  src/deluge/gui/ui/sample_marker_editor.h
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/model/sample/sample_holder_for_voice.cpp
  src/deluge/model/sample/sample_holder_for_voice.h
Labels: cherry-pick

#1218 Document Deluge Menu Hierarchies
  CHANGELOG.md
  docs/menu_hierarchies.md
Labels: cherry-pick

#1652 Remove pull_request_target trigger from release-build (#1644)
  .github/workflows/release-build.yml
Labels: cherry-picked

#1653 Fix cpu indicator blinking
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-pick

#1655 rms compressor: increase base makeup gain
  src/deluge/dsp/compressor/rms_feedback.cpp
  src/deluge/dsp/compressor/rms_feedback.h
  src/deluge/model/global_effectable/global_effectable_for_clip.cpp
Labels: cherry-pick

#1658 Recover from missing param manager during file loading
  src/deluge/model/song/song.cpp
Labels: cherry-pick

#1657 Update VU meter clipping threshold
  docs/community_features.md
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#1201 Add new HPF to reverb, log scaling for HPF and Damping
  src/deluge/dsp/reverb/base.hpp
  src/deluge/dsp/reverb/mutable/reverb.hpp
  src/deluge/dsp/reverb/reverb.hpp
  src/deluge/dsp/util.hpp
  src/deluge/gui/menu_item/reverb/hpf.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#1636 Arpeggiator param saving for Midi clips fixed
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/model/clip/instrument_clip.h
Labels: cherry-pick

#1664 move stutter out of the fallthrough cases
  src/deluge/gui/views/view.cpp
Labels: bug, cherry-pick

#1669 Workflows/restructure workflows for more flexibility
  .github/scripts/validate_build_string.js
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/publish.yml
  .github/workflows/release-build.yml
  scripts/tasks/task-build.py
Labels: cherry-pick

#1677 Bugfix - Midi Follow :: Update getSelectedClip to use Active Clip
  src/deluge/io/midi/midi_follow.cpp
Labels: cherry-pick

#1684 Bugfix/midi load error arranger
  src/deluge/gui/views/session_view.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/instrument/midi_instrument.h
Labels: cherry-pick

#1685 Bugfix - set current clip as active clip if possible
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
  src/deluge/model/clip/instrument_clip_minder.h
Labels: cherry-pick

#1690 Bugfix/fallback for files saved with incorrect tag on nightly builds
  src/deluge/hid/display/display.h
  src/deluge/hid/display/oled.cpp
  src/deluge/model/instrument/midi_instrument.cpp
Labels: cherry-pick

#1698 Fix typos in CHANGELOG and menu_hierarchies
  CHANGELOG.md
  docs/menu_hierarchies.md
Labels: cherry-pick

#1703 Fix incorrect naming for arp preset param in OLED
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#1712 Revert change to load audio clip sample without timestretching
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/ui/browser/sample_browser.cpp
Labels: cherry-pick

#1711 Bugfix - Midi crash in audio clips
  src/deluge/io/midi/midi_follow.cpp
Labels: cherry-pick

#1705 oled: fix popup border clamping
  src/deluge/hid/display/oled.cpp
Labels: cherry-pick

#1722 Bugfix - Allow use of sidebar when VU meter is active but changed mod knob mode
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
Labels: cherry-pick

#1721 Added Grid Yellow Mode to CHANGELOG.md
  CHANGELOG.md
Labels: cherry-pick

#1729 Fix renaming for 7SEG display for both Arranger tracks and kit rows
  src/deluge/gui/ui/rename/rename_ui.cpp
Labels: cherry-pick

#1732 bug fix - offer learned cc's for song params
  CHANGELOG.md
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.h
  src/deluge/playback/playback_handler.cpp
  src/deluge/processing/audio_output.h
  src/deluge/processing/sound/sound_instrument.h
Labels: cherry-pick

#1739 Add Note Row Play Direction to Synth / Midi / CV
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/menu_item/sequence/direction.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/sound_editor.h
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
Labels: cherry-pick

#1743 Bugfix - move force cull to old hard cull threshold
  src/deluge/modulation/envelope.h
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
Labels: cherry-pick

#1737 Midi Follow ~ Add midi follow setting to make controlling song params optional
  docs/features/midi_follow_mode.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/performance_session_view.h
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
  src/deluge/io/midi/midi_takeover.cpp
  src/deluge/io/midi/midi_takeover.h
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.h
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#1755 Bugfix - automation view crash
  src/deluge/gui/views/automation_view.cpp
Labels: cherry-pick

#1728 Refactor/rearrange tags written in XMLs so the songs load ok in official firmware
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/clip/audio_clip.h
  src/deluge/model/clip/clip.cpp
  src/deluge/model/clip/clip.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip.h
  src/deluge/model/global_effectable/global_effectable.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/model/output.cpp
  src/deluge/model/song/song.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
  src/deluge/processing/sound/sound_drum.cpp
  src/deluge/processing/sound/sound_instrument.cpp
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: cherry-pick

#1751 Performance improvements - make a static voice array, limit each sounds polyphony to 16
  src/definitions_cxx.hpp
  src/deluge/modulation/envelope.h
  src/deluge/processing/engines/audio_engine.cpp
Labels: performance, cherry-pick

#1765 Added High CPU usage default setting
  CHANGELOG.md
  docs/community_features.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/storage/flash_storage.cpp
  src/deluge/storage/flash_storage.h
Labels: cherry-pick

#1770 Remove stale change log and community features documentation entries for automation view
  CHANGELOG.md
  docs/community_features.md
Labels: cherry-pick

#1771 Bugfix - Adjust Perf View Hold Press Behaviour
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/performance_session_view.h
Labels: cherry-pick

#1777 Bugfix - Remove midi follow song control entirely
  docs/community_features.md
  docs/features/midi_follow_mode.md
  src/deluge/gui/ui/menus.cpp
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#1764 Bugfix: Automation Menu View crash in Kit Clip's - Update getModelStackWithParam
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/instrument/kit.h
  src/deluge/model/instrument/melodic_instrument.cpp
  src/deluge/model/instrument/melodic_instrument.h
  src/deluge/model/instrument/midi_instrument.cpp
  src/deluge/model/instrument/midi_instrument.h
  src/deluge/model/output.h
  src/deluge/processing/audio_output.cpp
  src/deluge/processing/audio_output.h
Labels: cherry-pick

#1783 cache whether the instrument is on card to avoid re checking
  src/deluge/model/instrument/instrument.cpp
  src/deluge/model/song/song.cpp
  src/deluge/storage/file_item.cpp
  src/deluge/storage/storage_manager.cpp
Labels: cherry-pick

#1786 replace calls to new button with shift button
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/ui.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/hid/buttons.h
  src/deluge/model/clip/instrument_clip_minder.cpp
Labels: bug, cherry-pick

#1794 Bugfix/recover from not finding synth on card
  src/deluge/storage/file_item.cpp
Labels: bug, cherry-pick

#1799 Bugfix/Write all octaveMode options
  src/deluge/util/functions.cpp
Labels: cherry-pick

#1802 fix bug sending first sample through without filtering
  src/deluge/dsp/filter/filter.h
Labels: cherry-pick
