Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-02, with the labels that each got.

#1255 Strongly type encoders and timers
  src/RZA1/cpu_specific.h
  src/definitions.h
  src/deluge/deluge.cpp
  src/deluge/gui/menu_item/audio_clip/sample_marker_editor.cpp
  src/deluge/gui/menu_item/decimal.h
  src/deluge/gui/menu_item/file_selector.cpp
  src/deluge/gui/menu_item/osc/audio_recorder.h
  src/deluge/gui/menu_item/patch_cables.cpp
  src/deluge/gui/menu_item/sample/loop_point.cpp
  src/deluge/gui/ui/browser/browser.cpp
  src/deluge/gui/ui/browser/sample_browser.cpp
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/load/load_instrument_preset_ui.cpp
  src/deluge/gui/ui/load/load_song_ui.cpp
  src/deluge/gui/ui/qwerty_ui.cpp
  src/deluge/gui/ui/sample_marker_editor.cpp
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/ui.cpp
  src/deluge/gui/ui_timer_manager.cpp
  src/deluge/gui/ui_timer_manager.h
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/hid/display/numeric_layer/numeric_layer_basic_text.cpp
  src/deluge/hid/display/numeric_layer/numeric_layer_loading_animation.cpp
  src/deluge/hid/display/numeric_layer/numeric_layer_scroll_transition.cpp
  src/deluge/hid/display/numeric_layer/numeric_layer_scrolling_text.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/seven_segment.cpp
  src/deluge/hid/encoder.cpp
  src/deluge/hid/encoder.h
  src/deluge/hid/encoders.cpp
  src/deluge/hid/encoders.h
  src/deluge/hid/hid_sysex.cpp
  src/deluge/hid/led/indicator_leds.cpp
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/playback/playback_handler.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/testing/hardware_testing.cpp
  src/deluge/util/functions.cpp
  tests/unit/mocks/mock_encoder.cpp
  tests/unit/mocks/mock_encoders.cpp
Labels: cherry-pick

#1267 fix encoder mixup
  src/deluge/hid/encoders.cpp
Labels: cherry-pick

#1273 Misc menu fixes
  src/deluge/gui/menu_item/arpeggiator/gate.h
  src/deluge/gui/menu_item/arpeggiator/octave_mode.h
  src/deluge/gui/menu_item/arpeggiator/preset_mode.h
  src/deluge/gui/menu_item/arpeggiator/sequence_length.h
  src/deluge/gui/menu_item/unison/count.h
  src/deluge/gui/menu_item/unpatched_param/sound_unpatched_param.h
  src/deluge/gui/menu_item/unpatched_param/synth_unpatched_param.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#1279 Fix vertical encoder triggering horizontal handler in column controls
  src/deluge/gui/ui/keyboard/layout/in_key.cpp
  src/deluge/gui/ui/keyboard/layout/in_key.h
  src/deluge/gui/ui/keyboard/layout/isomorphic.cpp
  src/deluge/gui/ui/keyboard/layout/isomorphic.h
Labels: cherry-pick

#1280 Implemented ratchets on midi clips, kit rows, unsynced rate, and stopped playback
  docs/community_features.md
  src/deluge/gui/menu_item/unpatched_param/synth_unpatched_param.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/model/instrument/non_audio_instrument.cpp
  src/deluge/model/instrument/non_audio_instrument.h
  src/deluge/modulation/arpeggiator.cpp
  src/deluge/modulation/arpeggiator.h
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick

#1257 fix norns view highlighting and separate it from note highlights
  src/deluge/gui/ui/keyboard/keyboard_screen.h
  src/deluge/gui/ui/keyboard/layout.h
  src/deluge/gui/ui/keyboard/layout/norns.cpp
  src/deluge/model/instrument/melodic_instrument.cpp
Labels: cherry-pick

#1298 Update CHANGELOG.md
  CHANGELOG.md
Labels: cherry-pick

#1297 Fix arp restart
  src/deluge/modulation/arpeggiator.cpp
Labels: cherry-pick

#1310 Update community_features.md - Add missing link + clean up some formatting
  docs/community_features.md
Labels: cherry-pick

#1309 Flash OMODE and NMODE for 7Seg users when setting CUSTOM arp mode from pad shortcuts
  src/deluge/gui/menu_item/arpeggiator/note_mode.h
  src/deluge/gui/menu_item/arpeggiator/octave_mode.h
  src/deluge/gui/menu_item/arpeggiator/preset_mode.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#1304 If less than 4 clusters for a voice, load them all
  src/deluge/model/sample/sample_holder_for_voice.cpp
Labels: cherry-pick

#1323 Selection menu item should scroll on 7SEG
  src/deluge/gui/menu_item/selection.cpp
Labels: cherry-pick

#1320 Fix Mutable Reverb HPF Noise (#1289)
  src/deluge/dsp/reverb/freeverb/freeverb.hpp
  src/deluge/dsp/reverb/mutable/fx_engine.hpp
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-pick

#1332 oled: slightly nicer for 7seg (#1295)
  src/deluge/hid/display/oled.cpp
Labels: cherry-pick, cherry-picked

#1331 Update MIDI Follow Feedback to use MIDI Follow Channel's
  docs/features/midi_follow_mode.md
  src/definitions_cxx.hpp
  src/deluge/gui/menu_item/midi/follow/follow_channel.h
  src/deluge/gui/menu_item/midi/follow/follow_feedback_channel_type.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#1316 Remove recursive render and include attempted audio clips in min voice calculation
  src/deluge/memory/memory_region.cpp
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-pick

#1336 Formatting: Update community_features.md
  docs/community_features.md
Labels: cherry-pick

#1342 fix stutter
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
Labels: cherry-pick

#1326 Add setting to map MPE Aftertouch or Y, to velocity when doing arps. And fixed bug with MPE arp expressions not sent with "As played" mode.
  CHANGELOG.md
  docs/community_features.md
  src/definitions_cxx.hpp
  src/deluge/gui/menu_item/arpeggiator/mpe_velocity.h
  src/deluge/gui/menu_item/arpeggiator/preset_mode.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/instrument/non_audio_instrument.cpp
  src/deluge/modulation/arpeggiator.cpp
  src/deluge/modulation/arpeggiator.h
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound_instrument.cpp
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: cherry-pick

#1340 Fixed Scale cycling, which was not possible from OTHER SCALE even if you emptied notes
  src/deluge/model/song/song.cpp
  src/deluge/util/lookuptables/lookuptables.h
Labels: cherry-pick

#1305 Make number of count-in bars configurable
  CHANGELOG.md
  src/deluge/gui/l10n/english.cpp
  src/deluge/gui/menu_item/record/countin.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/playback/playback_handler.cpp
  src/deluge/playback/playback_handler.h
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#1360 Update PR #970 in community features
  CHANGELOG.md
  docs/community_features.md
Labels: documentation, cherry-pick

#1372 Update filter morph description
  docs/community_features.md
Labels: cherry-pick

#1374 Add Automation View for Patch Cables / Modulation Depth
  CHANGELOG.md
  docs/community_features.md
  docs/features/automation_view.md
  src/definitions_cxx.hpp
  src/deluge/gui/menu_item/param.cpp
  src/deluge/gui/menu_item/patch_cable_strength.cpp
  src/deluge/gui/menu_item/patch_cable_strength.h
  src/deluge/gui/menu_item/patched_param/integer.cpp
  src/deluge/gui/menu_item/unpatched_param.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/model/clip/clip.cpp
  src/deluge/model/clip/clip.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/instrument/melodic_instrument.cpp
  src/deluge/model/model_stack.cpp
  src/deluge/model/model_stack.h
Labels: cherry-pick

#1315 Fix enumeration menu item value and offset wrapping bug
  src/deluge/gui/menu_item/enumeration.cpp
Labels: cherry-pick

#1365 Performance/dont cull drones as often
  .gitignore
  src/definitions_cxx.hpp
  src/deluge/gui/ui/sample_marker_editor.cpp
  src/deluge/model/note/note_row.cpp
  src/deluge/model/voice/voice.cpp
  src/deluge/modulation/envelope.cpp
  src/deluge/modulation/envelope.h
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
  src/deluge/processing/sound/sound_drum.cpp
  src/deluge/processing/sound/sound_drum.h
  src/deluge/processing/sound/sound_instrument.cpp
  src/deluge/processing/sound/sound_instrument.h
Labels: cherry-pick
