Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-05, with the labels that each got.

#1810 Update community_features.md
  docs/community_features.md
Labels: cherry-pick

#1812 Bugfix - Performance View rendering / laggy vertical scrolling
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/arranger_view.h
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/model/song/song.cpp
  src/deluge/playback/mode/arrangement.cpp
  src/deluge/playback/mode/session.cpp
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#1767 song: use 1.0 base makeup gain for compressor
  CHANGELOG.md
  src/deluge/dsp/compressor/rms_feedback.cpp
  src/deluge/dsp/compressor/rms_feedback.h
  src/deluge/model/song/song.cpp
Labels: cherry-pick

#1824 Feature/configure max voices
  docs/menu_hierarchies.md
  src/definitions_cxx.hpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/integer.cpp
  src/deluge/gui/menu_item/integer.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
Labels: cherry-pick

#1830 Cherry pick - max voices
  docs/menu_hierarchies.md
  src/definitions_cxx.hpp
  src/deluge/gui/l10n/english.cpp
  src/deluge/gui/l10n/seven_segment.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/integer.cpp
  src/deluge/gui/menu_item/integer.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
Labels: cherry-pick, cherry-picked

#1835 Drop duplicate count-in bars entry from changelog
  CHANGELOG.md
Labels: cherry-pick

#1833 Bugfix midi follow crash if clip is deleted
  src/deluge/gui/views/session_view.cpp
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
Labels: cherry-pick

#1834 Bug Fix Mod Button Popups
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
  src/deluge/model/global_effectable/global_effectable.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.h
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick

#1838 Bugfix - Make VU meter toggable in Arranger Automation View + Menu
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#1814 Bugfix - Automation View Rendering
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
Labels: cherry-pick

#1828 use midi follow cc checking for loopback midi
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
  src/deluge/model/instrument/melodic_instrument.cpp
Labels: cherry-pick

#1827 Bugfix Midi Follow Feedback
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_follow.h
Labels: cherry-pick

#1831 Bugfix MIDI Takeover Pickup & Value Scaling + Add Relative Mode
  CHANGELOG.md
  docs/community_features.md
  docs/menu_hierarchies.md
  src/definitions_cxx.hpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/midi/takeover.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/io/midi/midi_takeover.cpp
  src/deluge/io/midi/midi_takeover.h
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
Labels: cherry-pick

#1842 Bugfix - Clearing automation
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/clip/audio_clip.h
  src/deluge/model/clip/clip.cpp
  src/deluge/model/clip/clip.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip.h
  src/deluge/model/clip/instrument_clip_minder.cpp
  src/deluge/model/note/note_row.cpp
  src/deluge/model/note/note_row.h
Labels: cherry-pick

#1791 Additional update/edits to CHANGELOG.md for 1.1
  CHANGELOG.md
Labels: cherry-pick

#1850 consider notes at end of sequence after wrapping
  src/deluge/model/note/note_row.cpp
Labels: cherry-pick

#1846 Make Hold Time Configurable
  CHANGELOG.md
  docs/community_features.md
  docs/menu_hierarchies.md
  src/definitions_cxx.hpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/defaults/hold_time.h
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/storage/flash_storage.cpp
  src/deluge/storage/flash_storage.h
Labels: cherry-pick

#1845 Updated VU meter documentation
  docs/community_features.md
Labels: cherry-pick

#1857 Fix stutter rate going out of bounds
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
Labels: cherry-pick

#1858 Show quantized stutter rate popup only while not stuttering
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#1896 update vu meter documentation
  docs/community_features.md
Labels: cherry-pick

#1901 Fix automation pasting
  src/deluge/gui/positionable.h
  src/deluge/hid/display/seven_segment.cpp
  src/deluge/model/clip/clip_instance.h
  src/deluge/model/note/note.h
  src/deluge/model/positionable.h
  src/deluge/modulation/automation/auto_param.cpp
  src/deluge/modulation/automation/copied_param_automation.h
  src/deluge/modulation/params/param_node.cpp
  src/deluge/modulation/params/param_node.h
Labels: cherry-pick

#1903 Fix MIDI loopback recursion (1.1 edition)
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/io/midi/midi_engine.h
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/drum/midi_drum.cpp
  src/deluge/model/instrument/midi_instrument.cpp
  src/deluge/modulation/midi/midi_param_collection.cpp
  src/deluge/modulation/midi/midi_param_collection.h
  src/deluge/playback/playback_handler.cpp
Labels: cherry-picked

#1895 Make cycling from 5-note scale to 7-note scale non destructive (remember note positions)
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
Labels: cherry-pick

#1908 sequence: always check for note on ignore reset
  src/deluge/model/note/note_row.cpp
Labels: cherry-pick

#1749 Fix explode / implode animations to/from arranger / grid views
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#1918 lower comp saturation a tiny bit
  src/deluge/dsp/compressor/rms_feedback.cpp
Labels: cherry-pick

#1933 AudioClip: fix single-row rendering
  src/deluge/gui/waveform/waveform_renderer.cpp
Labels: cherry-pick

#1915 Bugfix - Transition back to keyboard screen when automation clip view flag is set
  src/deluge/gui/views/session_view.cpp
  src/deluge/hid/led/pad_leds.cpp
Labels: cherry-pick

#1923 Bugfix VU meter rendering issues in performance view and automation arranger view
  src/deluge/gui/menu_item/performance_session_view/editing_mode.h
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/performance_session_view.h
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#1939 Bugfix sidebar not rendering with explode animation
  src/deluge/hid/led/pad_leds.cpp
Labels: cherry-pick

#1944 Update perf view documentation
  docs/community_features.md
  docs/features/performance_view.md
Labels: cherry-pick

#1949 Bugfix - don't clear audio clip sample from automation view
  src/deluge/model/clip/audio_clip.cpp
Labels: cherry-pick

#1934 Bug Fix keyboard screen and other animations
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/keyboard/layout/isomorphic.cpp
  src/deluge/gui/ui/keyboard/layout/norns.cpp
  src/deluge/gui/ui/keyboard/layout/velocity_drums.cpp
  src/deluge/gui/ui/ui.h
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/model/action/action_logger.cpp
Labels: cherry-pick

#1943 Bug Fix stutter getting stuck when exiting perf view
  src/deluge/gui/views/performance_session_view.cpp
Labels: cherry-pick

#1945 Bugfix - Update midi follow feedback
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/playback/mode/arrangement.cpp
  src/deluge/playback/mode/session.cpp
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#1960 Update change log for midi learning of song and kit affect entire params
  CHANGELOG.md
Labels: cherry-pick

#1964 Bugfix - properly save kit row
  src/deluge/gui/ui/save/save_kit_row_ui.h
Labels: cherry-pick

#1970 getTriangle: continuous version
  src/deluge/util/functions.h
Labels: cherry-pick

#1982 UX/Disable high cpu by default
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#1980 Bug fix performance view param editor rendering
  docs/features/performance_view.md
  src/deluge/gui/views/performance_session_view.cpp
Labels: cherry-pick

#1981 Bug fix - performance view - default value gets lost + some other minor bug fixes
  src/deluge/gui/menu_item/performance_session_view/editing_mode.h
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/performance_session_view.h
Labels: cherry-pick

#1986 Fix true false checks in flash storage
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#2010 Bugfix ~ Automation View - kit row - affect entire selection error message
  src/deluge/gui/views/automation_view.cpp
Labels: cherry-pick

#2009 Bugfix - clear automation overview in kit when no drum is selected
  src/deluge/gui/views/automation_view.cpp
  src/deluge/hid/led/pad_leds.cpp
  src/deluge/hid/led/pad_leds.h
Labels: cherry-pick

#2017 Bugfix - automation view clip clear popup message
  src/deluge/model/clip/instrument_clip_minder.cpp
Labels: cherry-pick

#2024 Bugfix automation view shortcut blinking
  src/deluge/gui/menu_item/automation/automation.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
Labels: cherry-pick

#2030 Bugfix - fix incorrect bool conversion
  src/deluge/util/container/array/resizeable_array.cpp
Labels: cherry-pick

#2038 Bugfix - affect entire context while in menu
  src/deluge/gui/views/automation_view.cpp
Labels: cherry-pick
