Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-07, with the labels that each got.

#2220 Bugfix (c1.1.1) - Fix Performance View Save-Load UI Mode Bug
  src/deluge/gui/views/performance_session_view.cpp
Labels: cherry-pick

#2221 Bugfix (c1.1.1) - save load midi preset in keyboard view
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
Labels: cherry-pick

#2225 Add missing community features doc PR link
  docs/community_features.md
Labels: cherry-pick

#2227 Update documentation referring to Loopy Pro template
  docs/features/midi_follow_mode.md
Labels: cherry-pick

#2239 Improved cmake and debug configs for clion
  IDE_Configs/clion/cmake.xml
  IDE_Configs/clion/runConfigurations/Flash and debug.run.xml
Labels: toolchain

#2270 Add Bass and Treble Freq to Perf View
  CHANGELOG.md
  docs/features/performance_view.md
  src/deluge/gui/views/performance_session_view.cpp
Labels: cherry-pick

#2298 Feature - copy from green mode if select in green mode enabled
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#2336 docs: fixes typo
  docs/features/automation_view.md
Labels: cherry-pick

#2355 Bugfix VU meter rendering
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#2353 Bugfix - Display bars / 16th notes remaining + Launch playhead
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/playback/mode/session.cpp
  src/deluge/playback/mode/session.h
Labels: bug
