Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-09, with the labels that each got.

#2543 Fix LaunchStyle setting
  src/deluge/gui/context_menu/clip_settings/launch_style.cpp
  src/deluge/gui/context_menu/clip_settings/launch_style.h
Labels: cherry-pick

#2545 Bugfix/crash while changing presets
  src/deluge/processing/sound/sound_instrument.cpp
Labels: cherry-pick

#2550 Create looping_in_grid_view.md
  docs/features/looping_in_grid_view.md
Labels: cherry-pick

#2561 Bugfix/add back exception for if record is on and create plus record is enabled
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#2560 Bugfix/ensure filters in FM are fully accessible and modulatable if enabled
  src/deluge/gui/menu_item/filter_route.h
  src/deluge/gui/menu_item/generate/dmenus/filter/__init__.py
  src/deluge/gui/menu_item/generate/dmenus/filter/hpf.py
  src/deluge/gui/menu_item/generate/dmenus/filter/lpf.py
  src/deluge/gui/menu_item/generate/g_menus.inc
  src/deluge/gui/menu_item/submenu/filter.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick

#2559 Bugfix/recording from audio and kit tracks
  src/deluge/model/global_effectable/global_effectable_for_clip.cpp
Labels: bug, cherry-pick

#2579 Bugfix/cross screen mode button handling
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/hid/buttons.h
Labels: cherry-pick

#2576 Bugfix/Performance View Rendering
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#2571 Bugfix/rendering of tempo and scale on OLED display in song and arranger views
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/session_view.h
  src/deluge/gui/views/view.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/model/song/song.cpp
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#2572 Update Stem Export Folder Path and File Names
  docs/features/stem_export.md
  src/deluge/processing/stem_export/stem_export.cpp
  src/deluge/processing/stem_export/stem_export.h
Labels: cherry-pick

#2562 Bugfix/open copy buffer before use
  src/deluge/gui/ui/save/save_song_ui.cpp
Labels: bug

#2586 Bugfix playback from scroll position
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#2589 Bugfix/Update rendering of preset names
  src/deluge/gui/menu_item/audio_clip/specific_output_source_selector.h
  src/deluge/gui/ui/load/load_instrument_preset_ui.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: cherry-pick

#2605 Add Offline Rendering Stem Export Config Option
  docs/features/stem_export.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/playback/playback_handler.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/stem_export/stem_export.cpp
  src/deluge/processing/stem_export/stem_export.h
Labels: cherry-pick

#2602 Bugfix gold knobs don't reflect selected drum when doing an undo action
  CHANGELOG.md
  src/deluge/model/action/action_logger.cpp
Labels: cherry-pick

#2596 Bugfix - Automation View - Remove audio clip timestretching / Adjust audio clip length without time stretching
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/audio_clip_view.h
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/clip_view.cpp
  src/deluge/gui/views/timeline_view.cpp
Labels: cherry-pick

#2597 Bugfix enter drum creator when creating new kit
  CHANGELOG.md
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/views/instrument_clip_view.h
Labels: cherry-pick

#2612 use enter to confirm
  src/deluge/gui/context_menu/overwrite_file.cpp
  src/deluge/gui/context_menu/overwrite_file.h
Labels: cherry-pick

#2592 Bugfix/usb midi dropped messages
  src/deluge/gui/menu_item/midi/devices.cpp
  src/deluge/io/midi/midi_device_manager.cpp
  src/deluge/io/midi/midi_device_manager.h
  src/deluge/io/midi/midi_engine.cpp
Labels: cherry-pick

#2618 Bugfix/read clock for hosted devices
  src/deluge/io/midi/midi_device_manager.cpp
Labels: cherry-pick

#2613 Update load-save UI title and add midi icon
  src/deluge/gui/ui/browser/browser.cpp
  src/deluge/gui/ui/browser/browser.h
  src/deluge/gui/ui/load/load_instrument_preset_ui.cpp
  src/deluge/gui/ui/save/save_instrument_preset_ui.cpp
  src/deluge/gui/ui/save/save_kit_row_ui.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
Labels: cherry-pick

#2610 Bugfix - handle audition pad action in clip rename UI
  src/deluge/gui/ui/rename/rename_clipname_ui.cpp
  src/deluge/gui/ui/rename/rename_drum_ui.cpp
  src/deluge/gui/ui/rename/rename_output_ui.cpp
Labels: cherry-pick

#2601 Bugfix Set Selected Drum when pressing drum pads in kit keyboard view
  CHANGELOG.md
  src/deluge/gui/ui/keyboard/layout/velocity_drums.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
  src/deluge/model/instrument/kit.h
Labels: cherry-pick

#2637 Add troubleshooting tip for stem export with offline rendering
  docs/features/stem_export.md
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#2617 Update Fonts
  src/deluge/gui/fonts/fonts.c
Labels: cherry-pick

#2654 Fix typo in English localization file
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
Labels: cherry-pick

#2667 Fix offline rendering in memory limited songs
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-pick

#2647 Fix/ Add New Clip Settings Menu, Revert Cross Screen Audio Clip Changes
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/context_menu/clip_settings/clip_settings.cpp
  src/deluge/gui/context_menu/clip_settings/clip_settings.h
  src/deluge/gui/context_menu/clip_settings/launch_style.cpp
  src/deluge/gui/context_menu/clip_settings/new_clip_type.cpp
  src/deluge/gui/context_menu/context_menu.cpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/session_view.h
  src/deluge/gui/views/view.cpp
  src/deluge/model/output.h
Labels: cherry-pick

#2650 Fix/ load sample to drum in kit velocity keyboard view
  CHANGELOG.md
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
Labels: cherry-pick

#2652 Bugfix/ scale offset bug caused by modding on octaves
  src/deluge/gui/ui/keyboard/layout/chord_keyboard.cpp
  src/deluge/gui/ui/keyboard/layout/chord_keyboard.h
Labels: cherry-pick

#2655 Bugfix/ Remove stale delete popup in 7SEG sample browser menu
  src/deluge/gui/ui/browser/sample_browser.cpp
Labels: cherry-pick

#2657 Bugfix/ let record be turned off while auditioning
  CHANGELOG.md
  src/deluge/gui/views/instrument_clip_view.cpp
Labels: cherry-pick

#2651 Fix/ Enable Renaming Midi Output in Arranger
  CHANGELOG.md
  src/deluge/gui/views/arranger_view.cpp
Labels: cherry-pick

#2675 Cherry pick - Bugfix / Update Arranger Clip Rendering (#2622)
  src/deluge/gui/views/arranger_view.cpp
Labels: cherry-picked

#2653 Fix/ Enable toggling of metronome during record count in
  CHANGELOG.md
  src/deluge/gui/views/view.cpp
Labels: cherry-pick

#2677 fix: mute voices when switching between dx7 presets
  src/deluge/gui/menu_item/dx/cartridge.cpp
Labels: cherry-pick

#2681 Feature/chord keyboard updates to move sidebar to embedded in keyboard
  docs/community_features.md
  docs/features/chord_keyboard.md
  src/deluge/gui/ui/keyboard/column_controls/keyboard_control.cpp
  src/deluge/gui/ui/keyboard/column_controls/keyboard_control.h
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/ui/keyboard/layout/chord_keyboard.cpp
  src/deluge/gui/ui/keyboard/layout/chord_keyboard.h
  src/deluge/gui/ui/keyboard/layout/chord_library.cpp
  src/deluge/gui/ui/keyboard/layout/column_control_state.h
  src/deluge/gui/ui/keyboard/layout/column_controls.cpp
  src/deluge/gui/ui/keyboard/layout/column_controls.h
Labels: cherry-pick

#2646 Docs/ Update Menu Hierarchies + Cleanup Change Log
  CHANGELOG.md
  docs/menu_hierarchies.md
Labels: cherry-pick

#2648 Fix/ submenu scrolling + Qwerty menu inverted area
  src/definitions_cxx.hpp
  src/deluge/gui/context_menu/context_menu.cpp
  src/deluge/gui/menu_item/menu_item.cpp
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/selection.cpp
  src/deluge/gui/menu_item/toggle.cpp
  src/deluge/gui/ui/qwerty_ui.cpp
Labels: cherry-pick

#2692 Fix issue of SCW not loading as wavetable oscType if oscType was already set as Wavetable
  src/deluge/gui/ui/browser/sample_browser.cpp
Labels: cherry-pick

#2689 BugFix/ Remove Midi Loopback
  CHANGELOG.md
  docs/community_features.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/menu_item/midi/devices.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/io/midi/midi_device.cpp
  src/deluge/io/midi/midi_device.h
  src/deluge/io/midi/midi_device_manager.cpp
  src/deluge/io/midi/midi_device_manager.h
  src/deluge/io/midi/midi_engine.cpp
  src/deluge/model/instrument/melodic_instrument.cpp
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#2697 Bugfix/ clip mode (launch style) menu not saving changes
  src/deluge/gui/context_menu/clip_settings/launch_style.cpp
Labels: cherry-pick

#2703 fix possible infinite loop
  src/deluge/model/note/note_row.cpp
Labels: cherry-pick

#2698 Docs/ Document clip settings/clip mode context menu hierarchies
  docs/menu_hierarchies.md
Labels: cherry-pick

#2720 Fix/ Disable non dx shortcuts while in the dx editor
  src/deluge/gui/menu_item/dx/param.cpp
Labels: cherry-pick

#2724 Documentation/ Added song macros to change log
  CHANGELOG.md
  docs/community_features.md
Labels: cherry-pick

#2722 UI Consistency/ Change Performance View Shortcut
  CHANGELOG.md
  docs/community_features.md
  docs/features/performance_view.md
  src/definitions_cxx.hpp
  src/deluge/gui/views/performance_session_view.cpp
  src/deluge/gui/views/performance_session_view.h
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#2738 Change chord keyboard default to Col and tidy up chord keyboard docs
  docs/community_features.md
  docs/features/chord_keyboard.md
  src/deluge/gui/ui/keyboard/layout/chord_keyboard.h
Labels: cherry-pick
