Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2024-12, with the labels that each got.

#2994 Beta Fix keyboard view playback crash
  src/deluge/playback/playback_handler.cpp
Labels: cherry-picked

#3004 setup dx7 when dx oscillator selected
  src/deluge/gui/menu_item/osc/type.h
  src/deluge/processing/source.cpp
Labels: cherry-pick

#3010 setup dx7 synth properly when setup via osc type menu
  src/deluge/gui/menu_item/osc/type.h
Labels: cherry-pick

#3009 Bugfix / Temporary padding fix for LFO release bug
  src/deluge/processing/sound/sound.h
Labels: cherry-pick

#3030 bugfix automation view shortcut blinking
  src/deluge/gui/views/automation_view.h
  src/deluge/model/action/action_logger.cpp
Labels: cherry-pick

#3032 Stop scrolling during playback
  CHANGELOG.md
  src/deluge/hid/display/oled.cpp
  tests/unit/scheduler_tests.cpp
Labels: cherry-pick

#3044 Rename "Stem Export" to "Audio Export" to match industry naming conventions.
  CHANGELOG.md
  docs/community_features.md
  docs/features/audio_export.md
  docs/features/stem_export.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/processing/stem_export/stem_export.cpp
  src/deluge/storage/audio/audio_file_manager.h
Labels: cherry-pick

#3046 loosen restrictions on clip names
  src/deluge/gui/ui/rename/rename_clip_ui.cpp
Labels: cherry-pick

#3047 use local paths in docs so that releases don't point to HEAD docs
  CHANGELOG.md
  docs/community_features.md
Labels: cherry-pick

#3051 Fix bug with display for kit automation overview
  src/deluge/gui/views/automation_view.cpp
Labels: cherry-pick

#3054 fix sharpening/flattening scale notes
  src/deluge/model/song/song.cpp
Labels: cherry-pick

#3059 Fix perf view bugs with keyboard button handling
  src/deluge/gui/views/performance_view.cpp
Labels: cherry-pick

#3063 Fix twitchy BPM display during playback w/external clock
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#3077 Update audio export docs
  CHANGELOG.md
  docs/community_features.md
  docs/features/audio_export.md
Labels: cherry-pick

#3088 yield instead since this is now broken (#3086)
  src/deluge/gui/waveform/waveform_renderer.cpp
Labels: cherry-picked

#3085 Fix perf view stutter latching bug
  src/deluge/gui/views/performance_view.cpp
Labels: cherry-pick

#3113 Continue refactoring Voice
  src/deluge/model/voice/voice.cpp
  src/deluge/model/voice/voice.h
  src/deluge/model/voice/voice_unison_part_source.cpp
  src/deluge/model/voice/voice_unison_part_source.h
  src/deluge/processing/vector_rendering_function.h
Labels: refactor

#3116 Update Fonts
  src/deluge/gui/fonts/fonts.c
Labels: cherry-pick

#3117 change chord interval storage from int32 to int8
  src/deluge/gui/ui/keyboard/chords.cpp
  src/deluge/gui/ui/keyboard/chords.h
Labels: cherry-pick

#3126 this is fine don't worry about it
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-pick

#3127 Align interpolation buffers to quadwords
  src/deluge/dsp/interpolate/interpolate.h
Labels: performance

#3129 Convert EarlyNoteArray to STL map
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/instrument/melodic_instrument.cpp
  src/deluge/model/instrument/melodic_instrument.h
  src/deluge/model/note/note_row.cpp
  src/deluge/util/container/array/early_note_array.cpp
  src/deluge/util/container/array/early_note_array.h
Labels: refactor

#3130 Convert MIDI labels to STL map
  src/deluge/gui/ui/rename/rename_midi_cc_ui.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/model/clip/instrument_clip_minder.cpp
  src/deluge/model/instrument/midi_instrument.cpp
  src/deluge/model/instrument/midi_instrument.h
  src/deluge/modulation/midi/label/midi_label.cpp
  src/deluge/modulation/midi/label/midi_label.h
  src/deluge/modulation/midi/label/midi_label_collection.cpp
  src/deluge/modulation/midi/label/midi_label_collection.h
  src/deluge/modulation/midi/label/midi_label_vector.cpp
  src/deluge/modulation/midi/label/midi_label_vector.h
Labels: refactor

#3134 Fix iteration target in notesAuditioned for-loop
  src/deluge/model/instrument/melodic_instrument.cpp
Labels: bug

#3131 Convert MIDIParamVector to STL Map
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/clip/instrument_clip_minder.cpp
  src/deluge/model/instrument/midi_instrument.cpp
  src/deluge/modulation/midi/midi_param.cpp
  src/deluge/modulation/midi/midi_param.h
  src/deluge/modulation/midi/midi_param_collection.cpp
  src/deluge/modulation/midi/midi_param_collection.h
  src/deluge/modulation/midi/midi_param_vector.cpp
  src/deluge/modulation/midi/midi_param_vector.h
  src/deluge/storage/Deserializer.cpp
  src/deluge/storage/JSONSerializer.cpp
  src/deluge/storage/JsonDeserializer.cpp
  src/deluge/storage/Serializer.cpp
  src/deluge/storage/storage_manager.cpp
Labels: refactor

#3138 Rename "DX Shortcuts" to "DX7 Engine"
  docs/community_features.md
  docs/features/dx_synth.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/runtime_feature/settings.cpp
  src/deluge/gui/ui/keyboard/layout/column_controls.cpp
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/settings/runtime_feature_settings.cpp
  src/deluge/model/settings/runtime_feature_settings.h
Labels: cherry-pick

#3144 Removed high cpu usage indicator from docs
  CHANGELOG.md
  docs/community_features.md
Labels: cherry-pick

#3156 Fix CMake Build Scripts
  CMakeLists.txt
  src/deluge/version/CMakeLists.txt
Labels: toolchain

#3175 note range selection skipping was missing from changelog
  CHANGELOG.md
Labels: cherry-pick

#3185 Cleanup search for Git and Python in CMake
  CMakeLists.txt
Labels: toolchain
