Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-01, with the labels that each got.

#3201 Fix contrib readme to link properly
  docs/CONTRIBUTING.md
Labels: documentation

#3184 Convert staticDIR to FatFS interface
  src/deluge/gui/ui/browser/browser.cpp
  src/deluge/gui/ui/browser/sample_browser.cpp
  src/deluge/gui/ui/browser/slot_browser.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/storage/audio/audio_file_manager.cpp
  src/deluge/storage/storage_manager.cpp
  src/deluge/storage/storage_manager.h
  src/fatfs/fatfs.hpp
Labels: refactor

#3206 link to chopin in community features doc
  docs/community_features.md
Labels: cherry-pick

#3233 sizediff dbt task
  scripts/tasks/task-build.py
  scripts/tasks/task-sizediff.py
Labels: toolchain

#3190 Upgrade toolchain to v20, general QoL toolchain cleanup
  dbt.py
  lib/CMakeLists.txt
  scripts/tasks/task-loadfw.py
  scripts/tasks/task-midi-clock.py
  scripts/tasks/task-scons.py
  scripts/tasks/task-sysex-logging.py
  scripts/tasks/task-test.py
  scripts/tasks/util.py
  scripts/toolchain/dbtenv.cmd
  scripts/toolchain/requirements.txt
  src/deluge/dsp/compressor/rms_feedback.h
  src/deluge/dsp/convolution/impulse_response_processor.h
  src/deluge/dsp/filter/filter.h
  src/deluge/dsp/interpolate/interpolate.h
  src/deluge/dsp/oscillators/sine_osc.h
  src/deluge/dsp/reverb/reverb.hpp
  src/deluge/dsp/timestretch/time_stretcher.h
  toolchain/REQUIRED_VERSION
Labels: toolchain

#3261 Upgrade toolchain to v21 for static clang-format
  toolchain/REQUIRED_VERSION
Labels: toolchain

#3264 DBT format with clang-format 19
  .github/workflows/format-check.yml
  scripts/tasks/task-format.py
  src/RZA1/usb/r_usb_basic/src/driver/r_usb_pdriver.c
  src/RZA1/usb/r_usb_basic/src/hw/inc/r_usb_reg_access.h
  src/RZA1/usb/r_usb_basic/src/hw/r_usb_creg_access.c
  src/RZA1/usb/r_usb_basic/src/hw/r_usb_dma.c
  src/RZA1/usb/r_usb_basic/src/hw/r_usb_hreg_abs.c
  src/RZA1/usb/r_usb_hmidi/src/r_usb_hmidi_driver.c
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/model/voice/voice.cpp
Labels: toolchain

#3262 Add dbt task to check community_features doc for missing PR links
  scripts/tasks/task-checkprdoc.py
Labels: toolchain

#3276 Audio pipeline buffers to std::span
  src/deluge/dsp/compressor/rms_feedback.cpp
  src/deluge/dsp/compressor/rms_feedback.h
  src/deluge/dsp/envelope_follower/absolute_value.cpp
  src/deluge/dsp/envelope_follower/absolute_value.h
  src/deluge/dsp/granular/GranularProcessor.cpp
  src/deluge/dsp/granular/GranularProcessor.h
  src/deluge/dsp/stereo_sample.h
  src/deluge/model/clip/audio_clip.cpp
  src/deluge/model/clip/audio_clip.h
  src/deluge/model/fx/stutterer.cpp
  src/deluge/model/fx/stutterer.h
  src/deluge/model/global_effectable/global_effectable.cpp
  src/deluge/model/global_effectable/global_effectable.h
  src/deluge/model/global_effectable/global_effectable_for_clip.cpp
  src/deluge/model/global_effectable/global_effectable_for_clip.h
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/instrument/kit.h
  src/deluge/model/instrument/non_audio_instrument.cpp
  src/deluge/model/instrument/non_audio_instrument.h
  src/deluge/model/mod_controllable/ModFXProcessor.cpp
  src/deluge/model/mod_controllable/ModFXProcessor.h
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.h
  src/deluge/model/output.h
  src/deluge/model/sample/sample_recorder.cpp
  src/deluge/model/sample/sample_recorder.h
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
  src/deluge/processing/audio_output.cpp
  src/deluge/processing/audio_output.h
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/metronome/metronome.cpp
  src/deluge/processing/metronome/metronome.h
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
  src/deluge/processing/sound/sound_instrument.cpp
  src/deluge/processing/sound/sound_instrument.h
  src/deluge/util/functions.cpp
  src/deluge/util/functions.h
Labels: refactor
