Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-07, with the labels that each got.

#3903 Bugfix/ Fixed broken envelope decay visualization
  src/deluge/gui/menu_item/envelope/envelope_menu.h
Labels: cherry-pick

#3905 Bugfix/ Fixed crash on accessing randomizer params in some conditions
  src/deluge/gui/menu_item/horizontal_menu.cpp
Labels: cherry-pick

#3896 Fix/ Increase grid view pad brightness
  src/deluge/gui/views/session_view.cpp
Labels: ui-undesireable, cherry-pick

#3912 Feature/ Added support for combined horizontal menus for envelopes and LFOs
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/menu_item/envelope/envelope_menu.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/horizontal_menu.h
  src/deluge/gui/menu_item/horizontal_menu_combined.h
  src/deluge/gui/menu_item/submenu/reverb.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3939 Refactor/ automation view and velocity view + Fix #3941, 3944
  src/deluge/gui/views/automation/editor_layout.h
  src/deluge/gui/views/automation/editor_layout/mod_controllable.cpp
  src/deluge/gui/views/automation/editor_layout/mod_controllable.h
  src/deluge/gui/views/automation/editor_layout/note.cpp
  src/deluge/gui/views/automation/editor_layout/note.h
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
Labels: refactor

#3948 Fix volume
  src/deluge/modulation/patch/patch_cable_set.cpp
Labels: cherry-pick

#3953 Horizontal Menus/ Add Sidechain menu support
  src/deluge/gui/menu_item/arpeggiator/midi_cv/sequence_length.h
  src/deluge/gui/menu_item/arpeggiator/sequence_length.h
  src/deluge/gui/menu_item/decimal.cpp
  src/deluge/gui/menu_item/decimal.h
  src/deluge/gui/menu_item/enumeration.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/horizontal_menu.h
  src/deluge/gui/menu_item/horizontal_menu_combined.cpp
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/mod_fx/type.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/number.h
  src/deluge/gui/menu_item/patch_cable_strength.cpp
  src/deluge/gui/menu_item/patch_cable_strength.h
  src/deluge/gui/menu_item/patch_cable_strength/fixed.cpp
  src/deluge/gui/menu_item/reverb/sidechain/shape.h
  src/deluge/gui/menu_item/reverb/sidechain/volume.h
  src/deluge/gui/menu_item/selection.cpp
  src/deluge/gui/menu_item/selection.h
  src/deluge/gui/menu_item/sidechain/send.h
  src/deluge/gui/menu_item/sidechain/shape.h
  src/deluge/gui/menu_item/sidechain/volume.h
  src/deluge/gui/menu_item/sidechain/volume_global.h
  src/deluge/gui/menu_item/stutter/direction.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/menu_item/stutter/rate.h
  src/deluge/gui/menu_item/submenu/sidechain.h
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/menu_item/unpatched_param/updating_reverb_params.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/gui/ui/keyboard/layout/velocity_drums.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/display.h
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
  src/deluge/hid/display/oled_icons.cpp
  src/deluge/model/song/song.cpp
  src/deluge/modulation/patch/patch_cable.cpp
Labels: cherry-pick

#3956 Horizontal Menus/ Add Sidechain menu support (#3953)
  src/deluge/gui/menu_item/arpeggiator/midi_cv/sequence_length.h
  src/deluge/gui/menu_item/arpeggiator/sequence_length.h
  src/deluge/gui/menu_item/decimal.cpp
  src/deluge/gui/menu_item/decimal.h
  src/deluge/gui/menu_item/enumeration.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/horizontal_menu.h
  src/deluge/gui/menu_item/horizontal_menu_combined.cpp
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/mod_fx/type.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/number.h
  src/deluge/gui/menu_item/patch_cable_strength.cpp
  src/deluge/gui/menu_item/patch_cable_strength.h
  src/deluge/gui/menu_item/patch_cable_strength/fixed.cpp
  src/deluge/gui/menu_item/reverb/sidechain/shape.h
  src/deluge/gui/menu_item/reverb/sidechain/volume.h
  src/deluge/gui/menu_item/selection.cpp
  src/deluge/gui/menu_item/selection.h
  src/deluge/gui/menu_item/sidechain/send.h
  src/deluge/gui/menu_item/sidechain/shape.h
  src/deluge/gui/menu_item/sidechain/volume.h
  src/deluge/gui/menu_item/sidechain/volume_global.h
  src/deluge/gui/menu_item/stutter/direction.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/menu_item/stutter/rate.h
  src/deluge/gui/menu_item/submenu/sidechain.h
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/menu_item/unpatched_param/updating_reverb_params.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/gui/ui/keyboard/layout/velocity_drums.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/display.h
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
  src/deluge/hid/display/oled_icons.cpp
  src/deluge/model/song/song.cpp
  src/deluge/modulation/patch/patch_cable.cpp
Labels: cherry-picked

#3932 Upgrade Argon
  lib/CMakeLists.txt
  src/deluge/dsp/interpolate/interpolate.cpp
  src/deluge/dsp/oscillators/basic_waves.cpp
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/dsp/oscillators/sine_osc.h
  src/deluge/dsp/reverb/cosine_oscillator.hpp
  src/deluge/processing/vector_rendering_function.h
  src/deluge/storage/wave_table/wave_table.cpp
  src/dsp_ng/oscillators/legacy/table_oscillator.hpp
Labels: refactor, Code Review wanted

#3957 Feature / Menu highlighting modes
  src/definitions_cxx.hpp
  src/deluge/gui/context_menu/context_menu.cpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/defaults/accessibility_menu_highlighting.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/mod_fx/type.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/ui/browser/browser.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/qwerty_ui.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
  src/deluge/storage/flash_storage.cpp
  src/deluge/storage/flash_storage.h
Labels: cherry-pick

#3960 Bugfix/ Fix crash when entering horizontal menus via the select knob menu for a clip
  src/deluge/gui/menu_item/horizontal_menu.cpp
Labels: cherry-pick

#3968 Horizontal Menus/ Unified menu for LPF, HPF and filter route
  src/deluge/gui/menu_item/filter_route.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/horizontal_menu.h
  src/deluge/gui/menu_item/horizontal_menu_combined.cpp
  src/deluge/gui/menu_item/horizontal_menu_combined.h
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/midi/preset.h
  src/deluge/gui/menu_item/mod_fx/type.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/number.h
  src/deluge/gui/menu_item/selection.h
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/menu_item/submenu/mod_fx.h
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/menu_item/unison/detune.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
Labels: cherry-pick

#3970 Bugfix/ Properly update selected item's LEDs in Horizontal Menu
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/horizontal_menu_combined.cpp
Labels: cherry-pick

#3973 Fix kit velocity drum info popup display glitches and crash
  src/deluge/gui/views/instrument_clip_view.cpp
Labels: cherry-pick

#3977 Prevent the creation of "NO SOUND" kit rows
  src/deluge/gui/views/instrument_clip_view.cpp
Labels: cherry-pick
