Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-06, with the labels that each got.

#3797 Feature/ Compact graphics for the sync level menu in the horizontal menu
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/gui/menu_item/arpeggiator/rhythm.h
  src/deluge/gui/menu_item/decimal.cpp
  src/deluge/gui/menu_item/enumeration.cpp
  src/deluge/gui/menu_item/lfo/type.cpp
  src/deluge/gui/menu_item/lfo/type.h
  src/deluge/gui/menu_item/menu_item.cpp
  src/deluge/gui/menu_item/midi/preset.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/reverb/sidechain/volume.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/sync_level.cpp
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/menu_item/toggle.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
  src/deluge/hid/display/oled_icons.cpp
  src/deluge/model/sync.cpp
  src/deluge/model/sync.h
  src/deluge/util/functions.cpp
Labels: cherry-pick

#3798 squelch various compiler warnings
  CMakeLists.txt
  src/deluge/gui/menu_item/envelope/segment.h
  src/deluge/gui/menu_item/lfo/type.cpp
  src/deluge/gui/ui/load/load_midi_device_definition_ui.cpp
  src/deluge/gui/ui/save/save_midi_device_definition_ui.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/view.cpp
  src/deluge/memory/object_pool.h
  src/deluge/model/song/song.cpp
  src/deluge/util/functions.cpp
  src/deluge/util/misc.h
Labels: cherry-pick

#3803 move StringBuf impl to resolve -Wstringop-overflow
  src/deluge/util/d_string.cpp
  src/deluge/util/d_string.h
  src/deluge/util/d_stringbuf.cpp
  src/deluge/util/d_stringbuf.h
  tests/unit/CMakeLists.txt
Labels: cherry-pick

#3807 add flat symbol after tilde to font_5px
  src/deluge/gui/fonts/fonts.c
Labels: cherry-pick

#3775 Feature: Implement file operations: add copy and move to msysex
  src/deluge/storage/smsysex.cpp
  src/deluge/storage/smsysex.h
Labels: cherry-pick

#3818 Fix typo in MidiDrum post-arp code
  src/deluge/model/drum/midi_drum.cpp
Labels: cherry-pick

#3806 Add shortcut for the note probability
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/sound_editor.cpp
Labels: cherry-pick

#3834 Bugfix: Copy string into holder within scroller
  src/deluge/hid/display/oled.cpp
Labels: cherry-pick

#3836 Bugfix: give strings constructors and fix some other errors
  src/definitions_cxx.hpp
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/ui/rename/rename_ui.cpp
  src/deluge/hid/display/display.cpp
  src/deluge/util/d_string.cpp
  src/deluge/util/d_string.h
Labels: cherry-pick

#3845 Fixes for the Horizontal menu graphics
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/number.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/menu_item/stutter/rate.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
  src/deluge/hid/display/oled_canvas/canvas.cpp
  src/deluge/hid/display/oled_canvas/canvas.h
  src/deluge/hid/display/oled_icons.cpp
Labels: cherry-pick

#3853 Restore previous wave rendering function
  src/deluge/processing/vector_rendering_function.h
Labels: cherry-picked

#3857 Feature / Glide probability
  CHANGELOG.md
  docs/features/arpeggiator.md
  docs/features/automation_view.md
  docs/features/midi_follow_mode.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/arpeggiator/midi_cv/glide_probability.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/model/drum/gate_drum.cpp
  src/deluge/model/drum/midi_drum.cpp
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/instrument/non_audio_instrument.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/modulation/arpeggiator.cpp
  src/deluge/modulation/arpeggiator.h
  src/deluge/modulation/params/param.cpp
  src/deluge/modulation/params/param.h
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound_instrument.cpp
Labels: cherry-picked

#3859 Bugfix - only add spacing if not the last character
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled_canvas/canvas.cpp
Labels: cherry-pick

#3864 Envelope menu: sigmoid-like curve for the sustain line for better correlation with sound changes
  src/deluge/gui/menu_item/arpeggiator/arp_unpatched_param.h
  src/deluge/gui/menu_item/arpeggiator/chord_type.h
  src/deluge/gui/menu_item/arpeggiator/include_in_kit_arp.h
  src/deluge/gui/menu_item/arpeggiator/midi_cv/arp_integer.h
  src/deluge/gui/menu_item/arpeggiator/note_mode.h
  src/deluge/gui/menu_item/arpeggiator/note_mode_for_drums.h
  src/deluge/gui/menu_item/arpeggiator/octave_mode.h
  src/deluge/gui/menu_item/arpeggiator/octaves.h
  src/deluge/gui/menu_item/arpeggiator/randomizer_lock.h
  src/deluge/gui/menu_item/arpeggiator/step_repeat.h
  src/deluge/gui/menu_item/envelope/envelope_menu.h
  src/deluge/gui/menu_item/envelope/segment.h
  src/deluge/gui/menu_item/eq/eq_unpatched_param.h
  src/deluge/gui/menu_item/filter/param.h
  src/deluge/gui/menu_item/horizontal_menu.cpp
  src/deluge/gui/menu_item/integer.h
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/midi/preset.h
  src/deluge/gui/menu_item/mod_fx/depth_patched.h
  src/deluge/gui/menu_item/mod_fx/depth_unpatched.h
  src/deluge/gui/menu_item/mod_fx/feedback.h
  src/deluge/gui/menu_item/mod_fx/offset.h
  src/deluge/gui/menu_item/reverb/model.h
  src/deluge/gui/menu_item/reverb/sidechain/shape.h
  src/deluge/gui/menu_item/reverb/sidechain/volume.h
  src/deluge/gui/menu_item/reverb/width.h
  src/deluge/gui/menu_item/sidechain/attack.h
  src/deluge/gui/menu_item/sidechain/release.h
  src/deluge/gui/menu_item/stutter/rate.h
  src/deluge/gui/menu_item/sync_level.cpp
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/menu_item/unison/count.h
  src/deluge/gui/menu_item/voice/polyphony.h
  src/deluge/gui/menu_item/voice/portamento.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/oled_canvas/canvas.cpp
Labels: cherry-pick

#3866 Missing glide note-off for kit-arpeggiator
  src/deluge/model/instrument/kit.cpp
Labels: cherry-pick

#3870 Fix for broken select encoder action in vertical menus
  src/deluge/gui/menu_item/horizontal_menu.cpp
Labels: cherry-pick

#3872 Feature/unipolar modulators
  src/deluge/gui/menu_item/patch_cable_strength.cpp
  src/deluge/modulation/patch/patch_cable.cpp
  src/deluge/modulation/patch/patch_cable.h
  src/deluge/modulation/patch/patch_cable_set.cpp
  src/deluge/modulation/patch/patcher.cpp
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/community_features.md
  website/src/content/docs/features/looping_in_grid_view.mdx
  website/src/content/docs/features/save_load_patterns.md
  website/src/content/docs/reference/menu_hierarchies.md
Labels: cherry-pick

#3878 ci: fix website format workflow working directory
  .github/workflows/format-website.yml
Labels: website
