Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-04, with the labels that each got.

#3550 Fix broken audio threshold recording
  src/deluge/model/sample/sample_recorder.cpp
Labels: cherry-pick

#3521 Migrate Stealables to etl::intrusive_list
  src/deluge/dsp/CMakeLists.txt
  src/deluge/dsp/granular/GranularProcessor.h
  src/deluge/memory/cache_manager.cpp
  src/deluge/memory/cache_manager.h
  src/deluge/memory/general_memory_allocator.cpp
  src/deluge/memory/general_memory_allocator.h
  src/deluge/memory/stealable.h
  src/deluge/model/sample/sample_cache.cpp
  src/deluge/storage/audio/audio_file.cpp
  src/deluge/storage/audio/audio_file.h
  src/deluge/storage/audio/audio_file_manager.cpp
  src/deluge/storage/cluster/cluster.cpp
  src/deluge/storage/cluster/cluster.h
  src/deluge/storage/wave_table/wave_table.cpp
  src/deluge/storage/wave_table/wave_table_band_data.cpp
  src/deluge/storage/wave_table/wave_table_band_data.h
  src/deluge/storage/wave_table/wave_table_holder.cpp
  src/deluge/storage/wave_table/wave_table_holder.h
  src/deluge/util/container/list/bidirectional_linked_list.cpp
  src/deluge/util/container/list/bidirectional_linked_list.h
  tests/32bit_unit_tests/CMakeLists.txt
  tests/32bit_unit_tests/memory_tests.cpp
Labels: refactor

#3555 Fix incorrect recording status for the OLED when threshold recording is active
  src/deluge/gui/ui/audio_recorder.cpp
Labels: cherry-pick

#3559 Fix poly aftertouch
  src/deluge/model/instrument/cv_instrument.cpp
  src/deluge/model/instrument/midi_instrument.cpp
Labels: bug, cherry-pick

#3564 Bugfix - fix time stretchers
  src/deluge/model/sample/sample_low_level_reader.cpp
Labels: bug, cherry-pick

#3567 Change horizontal menu default select encoder behaviour
  src/deluge/storage/flash_storage.cpp
Labels: cherry-pick

#3570 Bugfix/unreachable perc cache code (#3569)
  src/deluge/model/sample/sample.cpp
  src/deluge/model/song/song.cpp
  src/deluge/processing/engines/audio_engine.cpp
Labels: cherry-picked

#3572 Load and save Dimension FX selection
  src/deluge/util/functions.cpp
Labels: cherry-pick

#3576 Fix maxVoiceCount parameter
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick

#3582 initialize everything
  src/deluge/model/sample/sample.h
  src/deluge/model/sample/sample_holder_for_voice.cpp
  src/deluge/processing/sound/sound.h
  src/deluge/storage/audio/audio_file.h
Labels: cherry-pick

#3584 Bugfix/dont buzz on crashes
  src/OSLikeStuff/fault_handler/fault_handler.c
  src/deluge/drivers/ssi/ssi.c
  src/deluge/drivers/ssi/ssi.h
  src/deluge/model/sample/sample.h
Labels: cherry-pick

#3546 Update shortcuts for randomizing drum samples
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/view.cpp
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/community_features.md
Labels: cherry-pick

#3586 Update shortcuts for randomizing drum samples (#3546)
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/view.cpp
Labels: cherry-picked

#3597 Fix debug message
  src/deluge/dsp/timestretch/time_stretcher.cpp
Labels: cherry-pick

#3609 Replace conditional any_of with none_of
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick, sys-audio

#3610 Fix crash with grid view loop recording
  src/deluge/gui/views/session_view.cpp
  src/deluge/gui/views/session_view.h
  src/deluge/playback/playback_handler.cpp
Labels: cherry-pick

#3621 Add inline shortcuts to documentation
  .github/workflows/format-check-website.yml
  docs/community_features.md
  website/.vscode/launch.json
  website/README.md
  website/astro.config.mjs
  website/bun.lock
  website/package.json
  website/patches/@astrojs%2Fmarkdown-remark@6.3.1.patch
  website/patches/@astrojs%2Fstarlight@0.32.5.patch
  website/src/assets/icons/audition-pad.svg
  website/src/assets/icons/button-keyboard.svg
  website/src/assets/icons/mute-pad.svg
  website/src/assets/icons/pad-column-press.svg
  website/src/assets/icons/pad-press.svg
  website/src/assets/icons/pad-row-press.svg
  website/src/assets/icons/press-gold.svg
  website/src/assets/icons/press-hold-select.svg
  website/src/assets/icons/press-horizontal.svg
  website/src/assets/icons/press-select.svg
  website/src/assets/icons/press-tempo.svg
  website/src/assets/icons/press-turn-gold.svg
  website/src/assets/icons/press-turn-horizontal.svg
  website/src/assets/icons/press-turn-select.svg
  website/src/assets/icons/press-turn-tempo.svg
  website/src/assets/icons/press-turn-vertical.svg
  website/src/assets/icons/press-vertical.svg
  website/src/assets/icons/turn-gold.svg
  website/src/assets/icons/turn-horizontal.svg
  website/src/assets/icons/turn-select.svg
  website/src/assets/icons/turn-tempo.svg
  website/src/assets/icons/turn-vertical.svg
  website/src/components/Search.astro
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/arpeggiator.md
  website/src/content/docs/features/audio_export.md
  website/src/content/docs/features/automation_view.md
  website/src/content/docs/features/chord_keyboard.md
  website/src/content/docs/features/community_features.md
  website/src/content/docs/features/dx_synth.md
  website/src/content/docs/features/midi_device_definition_files.md
  website/src/content/docs/features/midi_follow_mode.md
  website/src/content/docs/features/note_noterow_editor.md
  website/src/content/docs/features/performance_view.md
  website/src/content/docs/poc/shortcuts.mdx
  website/src/content/docs/reference/menu_hierarchies.md
  website/src/markdown-directives/remark-deluge-combo/controls.ts
  website/src/markdown-directives/remark-deluge-combo/display-sequence.ts
  website/src/markdown-directives/remark-deluge-key/controls.ts
  website/src/markdown-directives/remark-deluge-key/display-sequence.ts
  website/src/markdown-directives/remark-deluge-key/remark-deluge-shortcut.ts
  website/src/styles/global.css
Labels: website

#3624 Website/ Add Deluge Shortcuts Page
  website/src/content/docs/reference/shortcuts.mdx
Labels: documentation

#3591 Refactor/ Add UI Context Types
  src/definitions_cxx.hpp
  src/deluge/gui/ui/keyboard/keyboard_screen.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/ui.cpp
  src/deluge/gui/ui/ui.h
  src/deluge/gui/ui_timer_manager.cpp
  src/deluge/gui/views/arranger_view.h
  src/deluge/gui/views/audio_clip_view.h
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/gui/views/performance_view.cpp
  src/deluge/gui/views/performance_view.h
  src/deluge/gui/views/session_view.h
  src/deluge/gui/views/view.cpp
  src/deluge/io/midi/midi_transpose.cpp
  src/deluge/model/action/action_logger.cpp
  src/deluge/model/drum/midi_drum.cpp
  src/deluge/model/drum/non_audio_drum.cpp
  src/deluge/model/instrument/kit.cpp
Labels: refactor

#3605 Refactor/ Minor cleanup in GranularProcessor
  src/deluge/dsp/granular/GranularProcessor.cpp
  src/deluge/dsp/granular/GranularProcessor.h
Labels: refactor

#3616 Refactor/ CONVERT_AND_STORE macro to lambda
  src/deluge/storage/wave_table/wave_table.cpp
Labels: refactor

#3620 Feature/ Added Tempo, Root Note and Scale to Audio Export file names
  src/deluge/processing/stem_export/stem_export.cpp
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/audio_export.md
Labels: enhancement

#3623 Website/ Add Applications Page
  website/src/content/docs/reference/applications.mdx
  website/src/content/docs/reference/assets/DEx_mobile.png
Labels: documentation

#3615 BugFix/ vertical scrolling note dropping bug in automation view
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
Labels: cherry-pick, sys-sequencer

#3589 Refactor/ instrument clip view (de-dup code in automation view / keyboard screen)
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  src/deluge/model/clip/instrument_clip.cpp
Labels: refactor

#3590 Refactor/ De-duplicate master song transpose command logic
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/session_view.cpp
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
Labels: refactor

#3600 Refactor/ de-duplicate clip view transition to arranger / session
  src/deluge/gui/ui/keyboard/keyboard_screen.cpp
  src/deluge/gui/views/audio_clip_view.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/model/clip/clip_minder.cpp
  src/deluge/model/clip/clip_minder.h
Labels: refactor

#3604 Feature/ Select horizontal menu item with synth-kit-midi-cv buttons
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/sound_editor.h
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/community_features.md
Labels: enhancement, cherry-pick

#3603 Refactor/ View Mod Encoder Action / Mod Encoder Button Action
  src/deluge/gui/views/view.cpp
  src/deluge/gui/views/view.h
Labels: refactor

#3622 Documentation/ Add re-direct links to website
  CHANGELOG.md
  docs/menu_hierarchies.md
Labels: documentation

#3627 Fix build errors
  .github/workflows/format-check-website.yml
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/reference/applications.mdx
Labels: website

#3628 Fix asset reference case
  .github/workflows/format-check-website.yml
  website/src/content/docs/reference/applications.mdx
Labels: website

#3630 Add `::screen` Markdown directive to embed screenshots
  website/astro.config.mjs
  website/bun.lock
  website/package.json
  website/src/content/docs/features/midi_follow_mode.md
  website/src/content/docs/poc/screen.mdx
  website/src/content/docs/poc/shortcuts.mdx
  website/src/content/docs/reference/shortcuts.mdx
  website/src/markdown-directives/remark-deluge-key/remark-deluge-key.ts
  website/src/markdown-directives/remark-deluge-screen/remark-deluge-screen.ts
  website/src/markdown-directives/remark-deluge-screen/render-screen.ts
  website/src/styles/global.css
Labels: website

#3631 Attempt to fix website PR workflows
  .github/workflows/format-website.yml
  .github/workflows/pr-build-website.yml
  website/bun.lock
  website/package.json
Labels: website

#3635 Website/ Add video tutorial links to feature documentation
  website/src/content/docs/features/arpeggiator.md
  website/src/content/docs/features/audio_export.md
  website/src/content/docs/features/automation_view.md
  website/src/content/docs/features/automation_view_velocity_editor.md
  website/src/content/docs/features/chord_keyboard.md
  website/src/content/docs/features/dx_synth.md
  website/src/content/docs/features/looping_in_grid_view.md
  website/src/content/docs/features/midi_follow_mode.md
  website/src/content/docs/features/performance_view.md
  website/src/content/docs/features/save_load_patterns.md
Labels: documentation

#3637 Website/ Update out of ux guidelines list
  website/src/content/docs/development/ux_principles.md
Labels: documentation

#3638 Website/ Add Deluge Tutorials Reference Page
  website/src/content/docs/features/arpeggiator.md
  website/src/content/docs/features/chord_keyboard.md
  website/src/content/docs/features/dx_synth.md
  website/src/content/docs/features/performance_view.md
  website/src/content/docs/reference/tutorials.mdx
Labels: documentation

#3636 Website/ Fix typo on arp feature doc page
  website/src/content/docs/features/arpeggiator.md
Labels: documentation

#3626 Feature/ Select horizontal menu item with synth-kit-midi-cv buttons (#3604)
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/sound_editor.h
Labels: cherry-picked

#3611 Argonize Wavetable interp
  src/deluge/storage/wave_table/wave_table.cpp
Labels: refactor, sys-audio

#3619 Refactor/ InstrumentClipView::scrollVertical
  src/deluge/gui/views/automation_view.cpp
  src/deluge/gui/views/automation_view.h
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/gui/views/instrument_clip_view.h
  tests/unit/scheduler_tests.cpp
Labels: refactor

#3645 Fix horz menu selection using synth-kit-cv-midi buttons for envelopes
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/menu_item/submenu/actual_source.h
  src/deluge/gui/menu_item/submenu/envelope.h
  src/deluge/gui/menu_item/submenu/modulator.h
  src/deluge/gui/menu_item/submenu_referring_to_one_thing.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3648 Website: Add link preview card
  .github/workflows/deploy-website.yml
  .github/workflows/nightly-build.yml
  website/.vscode/settings.json
  website/astro.config.mjs
  website/bun.lock
  website/package.json
  website/src/components/LinkPreviewCard.astro
  website/src/content/docs/features/arpeggiator.mdx
  website/src/content/docs/features/audio_export.mdx
  website/src/content/docs/features/automation_view.mdx
  website/src/content/docs/features/automation_view_velocity_editor.mdx
  website/src/content/docs/features/chord_keyboard.mdx
  website/src/content/docs/features/dx_synth.mdx
  website/src/content/docs/features/looping_in_grid_view.mdx
  website/src/content/docs/features/midi_follow_mode.mdx
  website/src/content/docs/features/performance_view.mdx
  website/src/content/docs/reference/applications.mdx
  website/src/content/docs/reference/assets/DEx_mobile.png
  website/src/content/docs/reference/menu_hierarchies.md
  website/src/content/docs/reference/shortcuts.mdx
  website/src/content/docs/reference/tutorials.mdx
  website/src/logic/generated/metadata-cache.json
  website/src/logic/link-metadata.ts
  website/src/utils.ts
Labels: website

#3651 feat(web): Add topics to switch between sidebars
  website/astro.config.mjs
  website/bun.lock
  website/package.json
  website/src/content/docs/404.md
  website/src/content/docs/development/deluge/SysExProtocolNotes.md
  website/src/content/docs/development/deluge/additional_info.md
  website/src/content/docs/development/deluge/getting_started.md
  website/src/content/docs/development/deluge/guidelines.md
  website/src/content/docs/development/deluge/tools.md
  website/src/content/docs/development/deluge/ux_principles.md
  website/src/content/docs/development/website/diagrams.mdx
  website/src/content/docs/development/website/screen.mdx
  website/src/content/docs/development/website/shortcuts.mdx
  website/src/content/docs/resources/applications/Vuefinder.md
  website/src/content/docs/resources/applications/assets/DEx_mobile.png
  website/src/content/docs/resources/applications/overview.mdx
  website/src/content/docs/resources/tutorials.mdx
  website/src/styles/global.css
  website/src/styles/sidebar-topics.css
Labels: website
