Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-03, with the labels that each got.

#3424 Update ETL dependency
  lib/CMakeLists.txt
Labels: pr-dependencies

#3411 Remove AlignedBuf and replace with alignas(n) std::array
  src/deluge/dsp/dx/EngineMkI.cpp
  src/deluge/dsp/dx/EngineMkI.h
  src/deluge/dsp/dx/aligned_buf.h
  src/deluge/dsp/dx/fm_core.cpp
  src/deluge/dsp/dx/fm_core.h
Labels: refactor, small-pr

#3415 Remove intrusive lists from Voice, VoiceSample, and TimeStretcher
  src/deluge/dsp/timestretch/time_stretcher.h
  src/deluge/memory/object_pool.h
  src/deluge/model/voice/voice.h
  src/deluge/model/voice/voice_sample.h
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
  tests/spec/object_pool_spec.cpp
Labels: refactor

#3429 Fix includes in DSP subfolder
  src/deluge/dsp/filter/filter.cpp
  src/deluge/dsp/granular/GranularProcessor.cpp
  src/deluge/dsp/oscillators/basic_waves.h
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/dsp/oscillators/oscillator.h
Labels: small-pr

#3434 Convert renderPulseWave to Argon
  src/deluge/dsp/oscillators/basic_waves.cpp
  src/deluge/dsp/oscillators/basic_waves.h
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/processing/engines/audio_engine.cpp
Labels: refactor

#3433 Convert renderWave to Argon
  src/deluge/dsp/oscillators/basic_waves.cpp
  src/deluge/dsp/oscillators/basic_waves.h
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/processing/render_wave.h
Labels: refactor

#3447 Remove modelStackWithVoice
  src/deluge/model/model_stack.h
  src/deluge/model/voice/voice.cpp
  src/deluge/model/voice/voice.h
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
Labels: refactor

#3454 Make RGB trivially copyable
  src/deluge/gui/colour/rgb.h
Labels: refactor, small-pr

#3456 Updated horizontal menu editing controls
  CHANGELOG.md
  docs/community_features.md
  docs/menu_hierarchies.md
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/hid/buttons.h
  src/deluge/storage/flash_storage.cpp
  src/deluge/storage/flash_storage.h
Labels: cherry-pick

#3462 Move arranger default construction values to the member declarations
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/arranger_view.h
Labels: refactor, small-pr

#3464 Set stutter default to quantized
  CHANGELOG.md
  docs/community_features.md
  src/deluge/model/fx/stutterer.h
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
Labels: cherry-pick

#3466 Add kit arp shortcuts to kit fx menu
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/sound_editor.cpp
Labels: cherry-pick

#3435 Use pragmas for unrolling in renderCrudeSawwave
  src/deluge/dsp/oscillators/basic_waves.cpp
  src/deluge/dsp/oscillators/basic_waves.h
  src/deluge/dsp/oscillators/oscillator.cpp
Labels: refactor

#3441 Convert oscillator storage functions to std::span
  src/deluge/dsp/oscillators/oscillator.cpp
  src/deluge/processing/render_wave.h
  src/deluge/storage/wave_table/wave_table.cpp
Labels: refactor

#3469 Combine dbt.cmd and dbtenv.cmd
  dbt.cmd
  scripts/toolchain/dbtenv.cmd
Labels: toolchain

#3463 Refactor how audition and mute pads are colored in ArrangerView
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/arranger_view.h
Labels: refactor

#3458 Move Song default initializers to the member declaration
  src/deluge/model/song/song.cpp
  src/deluge/model/song/song.h
Labels: refactor

#3482 Fix arp params not loading for MIDI clips
  src/deluge/model/clip/instrument_clip.cpp
Labels: cherry-pick

#3484 Misc fixes for automation view
  src/deluge/gui/views/automation_view.cpp
  src/deluge/io/midi/midi_follow.h
  src/deluge/modulation/params/param.h
Labels: cherry-pick

#3449 Sound voice refactor
  src/deluge/deluge.cpp
  src/deluge/gui/menu_item/arpeggiator/mode.h
  src/deluge/gui/menu_item/arpeggiator/preset_mode.h
  src/deluge/gui/menu_item/dx/cartridge.cpp
  src/deluge/gui/menu_item/multi_range.cpp
  src/deluge/gui/menu_item/osc/type.h
  src/deluge/gui/menu_item/sample/repeat.h
  src/deluge/gui/menu_item/sample/reverse.h
  src/deluge/gui/ui/audio_recorder.cpp
  src/deluge/gui/ui/browser/sample_browser.cpp
  src/deluge/gui/ui/sample_marker_editor.cpp
  src/deluge/gui/ui/slicer.cpp
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/views/instrument_clip_view.cpp
  src/deluge/memory/object_pool.h
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/model/drum/drum.cpp
  src/deluge/model/drum/gate_drum.cpp
  src/deluge/model/drum/gate_drum.h
  src/deluge/model/drum/midi_drum.cpp
  src/deluge/model/drum/midi_drum.h
  src/deluge/model/drum/non_audio_drum.cpp
  src/deluge/model/drum/non_audio_drum.h
  src/deluge/model/instrument/kit.cpp
  src/deluge/model/mod_controllable/mod_controllable.h
  src/deluge/model/note/note_row.cpp
  src/deluge/model/voice/voice.cpp
  src/deluge/model/voice/voice.h
  src/deluge/model/voice/voice_vector.cpp
  src/deluge/model/voice/voice_vector.h
  src/deluge/model/voiced.h
  src/deluge/playback/playback_handler.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
  src/deluge/processing/sound/sound.cpp
  src/deluge/processing/sound/sound.h
  src/deluge/processing/sound/sound_drum.cpp
  src/deluge/processing/sound/sound_drum.h
  src/deluge/processing/sound/sound_instrument.cpp
  src/deluge/processing/source.cpp
  src/deluge/storage/audio/audio_file_manager.cpp
  src/deluge/util/containers.h
Labels: refactor, cherry-pick

#3394 Write old format note data [ONLY ON ALPHA/BETA], so songs can be loaded in 1.2 and below
  src/deluge/model/note/note_row.cpp
Labels: cherry-pick

#3495 Fix select encoder infinite loop in audio source menu
  src/deluge/gui/ui/sound_editor.cpp
Labels: cherry-pick

#3496 Enable audio output mode scrolling in arranger view
  src/deluge/gui/views/arranger_view.cpp
  src/deluge/gui/views/session_view.cpp
Labels: cherry-pick

#3501 Fix crash when a synth reaches its polyphony limit
  src/deluge/processing/sound/sound.cpp
Labels: cherry-pick

#3506 Updated horizontal menu controls
  CHANGELOG.md
  docs/community_features.md
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/hid/buttons.h
Labels: cherry-pick

#3304 Replace loading and saving popups with procedural animations
  src/deluge/gui/ui/load/load_song_ui.cpp
  src/deluge/gui/ui_timer_manager.cpp
  src/deluge/gui/ui_timer_manager.h
  src/deluge/hid/display/oled.cpp
Labels: cherry-pick

#3515 Changelog: 1.3 OLED Display Improvements section
  CHANGELOG.md
Labels: cherry-pick

#3503 Fix culling priority selection
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/sound/sound.cpp
Labels: bug, cherry-pick, sys-audio

#3527 FixedPoint/Intrinsics improvements.
  src/deluge/memory/memory_region.cpp
  src/deluge/modulation/params/param_set.cpp
  src/deluge/modulation/patch/patch_cable_set.cpp
  src/deluge/storage/cluster/cluster.cpp
  src/deluge/util/fixedpoint.h
  src/deluge/util/functions.h
  src/deluge/util/intrinsics.h
  tests/qemu/spec/fixedpoint_spec.cpp
Labels: refactor

#3528 Fix memory leak in sample clusters
  src/deluge/model/sample/sample_low_level_reader.cpp
  src/deluge/model/sample/sample_low_level_reader.h
  src/deluge/model/voice/voice.h
  src/deluge/model/voice/voice_sample.h
  src/deluge/storage/audio/audio_file_manager.cpp
Labels: bug, cherry-pick

#3530 Fix occasional crash when pressing song button from instrument clip view
  src/deluge/model/song/song.h
Labels: cherry-pick
