Repository SynthstromAudible/DelugeFirmware, pull requests merged in 2025-05, with the labels that each got.

#3654 Fix stereo loss on stereo sample interpolation
  src/deluge/dsp/interpolate/interpolate.cpp
Labels: cherry-pick

#3617 Refactor/ Remove SampleClusterArray in favor of std::vector
  src/definitions_cxx.hpp
  src/deluge/dsp/timestretch/time_stretcher.cpp
  src/deluge/gui/waveform/waveform_renderer.cpp
  src/deluge/model/sample/sample.cpp
  src/deluge/model/sample/sample.h
  src/deluge/model/sample/sample_cluster_array.cpp
  src/deluge/model/sample/sample_cluster_array.h
  src/deluge/model/sample/sample_holder.cpp
  src/deluge/model/sample/sample_holder_for_voice.cpp
  src/deluge/model/sample/sample_low_level_reader.cpp
  src/deluge/model/sample/sample_reader.cpp
  src/deluge/model/sample/sample_recorder.cpp
  src/deluge/model/sample/sample_recorder.h
  src/deluge/model/voice/voice_sample.cpp
  src/deluge/storage/audio/audio_file_manager.cpp
  src/deluge/storage/cluster/cluster.cpp
  src/deluge/storage/wave_table/wave_table.cpp
Labels: refactor

#3666 Tooling/ update clang-format config
  .clang-format
Labels: cherry-pick

#3669 Fix changelog ordering of feature
  website/src/content/docs/changelogs/CHANGELOG.mdx
Labels: cherry-pick

#3668 Feature/ Fixed layout for horizontal menus
  src/deluge/gui/menu_item/generate/dmenus/filter/hpf.py
  src/deluge/gui/menu_item/generate/dmenus/filter/lpf.py
  src/deluge/gui/menu_item/generate/g_menus.inc
  src/deluge/gui/menu_item/lfo/type.cpp
  src/deluge/gui/menu_item/menu_item.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/menu_item/sync_level.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3677 Feature/ Remove alternative select behavior for horizontal menus
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/buttons.cpp
  src/deluge/hid/buttons.h
  src/deluge/storage/flash_storage.cpp
  src/deluge/storage/flash_storage.h
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/community_features.md
Labels: cherry-pick

#3680 BugFix/ routineWithClusterLoading audio clicks
  src/deluge/gui/ui/audio_recorder.cpp
  src/deluge/gui/waveform/waveform_renderer.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
Labels: cherry-pick

#3688 Bugfix/ Update pad lights on horizontal menu's page switch
  src/deluge/gui/menu_item/submenu.cpp
Labels: cherry-pick

#3687 BugFix/ routineWithClusterLoading Audio Clicks (#3680)
  CHANGELOG.md
  src/deluge/gui/ui/audio_recorder.cpp
  src/deluge/gui/waveform/waveform_renderer.cpp
  src/deluge/model/clip/instrument_clip.cpp
  src/deluge/processing/engines/audio_engine.cpp
  src/deluge/processing/engines/audio_engine.h
Labels: cherry-picked

#3704 Feature/ UI-UX improvements for horizontal menus
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/gui/menu_item/arpeggiator/rhythm.h
  src/deluge/gui/menu_item/enumeration.cpp
  src/deluge/gui/menu_item/filter/info.h
  src/deluge/gui/menu_item/filter/param.h
  src/deluge/gui/menu_item/menu_item.cpp
  src/deluge/gui/menu_item/mod_fx/depth_patched.h
  src/deluge/gui/menu_item/mod_fx/depth_unpatched.h
  src/deluge/gui/menu_item/mod_fx/feedback.h
  src/deluge/gui/menu_item/mod_fx/offset.h
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/reverb/model.h
  src/deluge/gui/menu_item/reverb/width.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/menu_item/submenu/sidechain.h
  src/deluge/model/global_effectable/global_effectable.cpp
  src/deluge/model/mod_controllable/ModFXProcessor.h
  src/deluge/model/mod_controllable/filters/filter_config.h
Labels: cherry-pick

#3700 Horizontal MIDI program menu
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/midi/preset.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3711 Feature/ Bitmaps for LFO icons in horizontal menu
  src/deluge/gui/menu_item/enumeration.cpp
  src/deluge/gui/menu_item/lfo/type.cpp
  src/deluge/gui/menu_item/lfo/type.h
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
Labels: cherry-pick

#3714 Bugfix/ Restore ability to change menu items by pressing and turning select knob
  src/deluge/gui/menu_item/submenu.cpp
Labels: cherry-pick

#3716 Feature/ UX improvements for horizontal menu, part 2
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/hid/display/oled.cpp
Labels: cherry-pick

#3720 Horizontal Menus/ Display Mod FX type as title on the second page (and other small improvements)
  src/deluge/gui/menu_item/menu_item.cpp
  src/deluge/gui/menu_item/mod_fx/horizontal.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/hid/display/oled.cpp
  src/deluge/hid/display/oled.h
Labels: cherry-pick

#3722 Fix midi follow: CC value 7 was written twice to midi follow xml file
  src/deluge/io/midi/midi_follow.cpp
Labels: cherry-pick

#3727 Cleanup/ Remove redundant duplicate of mod-fx horizontal menu
  src/deluge/gui/menu_item/mod_fx/horizontal.h
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3729 Bugfix/ Fixed incorrect diffusion label for digital & mutable reverb in the horizontal menu
  src/deluge/gui/menu_item/reverb/width.h
Labels: cherry-pick

#3733 Horizontal Menus/ Add the unison submenu to the voice horizontal menu
  src/deluge/gui/menu_item/mod_fx/type.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3745 Font 5px: all latters 3px in width
  src/definitions_cxx.hpp
  src/deluge/gui/fonts/fonts.c
  src/deluge/hid/display/oled_canvas/canvas.cpp
Labels: cherry-pick

#3741 Feature/ Shortcut & horizontal menu for the compressor
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/gui/menu_item/arpeggiator/rhythm.h
  src/deluge/gui/menu_item/audio_compressor/compressor_values.h
  src/deluge/gui/menu_item/decimal.cpp
  src/deluge/gui/menu_item/decimal.h
  src/deluge/gui/menu_item/enumeration.cpp
  src/deluge/gui/menu_item/generate/dmenus/compressor.py
  src/deluge/gui/menu_item/generate/g_menus.inc
  src/deluge/gui/menu_item/number.cpp
  src/deluge/gui/menu_item/reverb/sidechain/volume.h
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/gui/menu_item/submenu.h
  src/deluge/gui/menu_item/submenu/mod_fx.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/modulation/params/param.h
Labels: cherry-pick

#3734 Feature/ Added Tempo, Root Note and Scale to Audio Export file names …
  CHANGELOG.md
  docs/features/audio_export.md
  src/deluge/processing/stem_export/stem_export.cpp
Labels: cherry-picked

#3755 Feature/ Display quantized rate in the stutter menu item
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/sequence/direction.h
  src/deluge/gui/menu_item/stutter/direction.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/menu_item/stutter/rate.h
Labels: cherry-pick

#3758 Fixed Rhythm menu items so they span always to two columns so they look good even for Kit Midi and Gate rows
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/gui/menu_item/arpeggiator/rhythm.h
Labels: cherry-pick

#3759 Feature/ Second layer for the modsource shortcuts
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/arpeggiator/midi_cv/rhythm.h
  src/deluge/gui/menu_item/arpeggiator/rhythm.h
  src/deluge/gui/menu_item/enumeration.cpp
  src/deluge/gui/menu_item/menu_item.cpp
  src/deluge/gui/menu_item/mod_fx/rate_unpatched.h
  src/deluge/gui/menu_item/patch_cables.cpp
  src/deluge/gui/menu_item/sequence/direction.h
  src/deluge/gui/menu_item/stutter/direction.h
  src/deluge/gui/menu_item/stutter/rate.cpp
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/menus.h
  src/deluge/gui/ui/sound_editor.cpp
  src/deluge/gui/ui/sound_editor.h
  src/deluge/modulation/params/param.h
Labels: cherry-pick

#3762 Bugfix/ Toggle the second layer for modsources only when a patch cable menu entered
  src/deluge/gui/ui/sound_editor.cpp
Labels: cherry-pick

#3757 Feature / "Step probability" for arpeggiator
  src/deluge/gui/l10n/english.json
  src/deluge/gui/l10n/g_english.cpp
  src/deluge/gui/l10n/g_seven_segment.cpp
  src/deluge/gui/l10n/seven_segment.json
  src/deluge/gui/l10n/strings.h
  src/deluge/gui/menu_item/arpeggiator/midi_cv/step_probability.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/views/automation_view.cpp
  src/deluge/io/midi/midi_follow.cpp
  src/deluge/model/mod_controllable/mod_controllable_audio.cpp
  src/deluge/modulation/arpeggiator.cpp
  src/deluge/modulation/arpeggiator.h
  src/deluge/modulation/params/param.cpp
  src/deluge/modulation/params/param.h
  website/src/content/docs/changelogs/CHANGELOG.mdx
  website/src/content/docs/features/arpeggiator.mdx
  website/src/content/docs/features/automation_view.mdx
  website/src/content/docs/features/midi_follow_mode.mdx
  website/src/content/docs/reference/menu_hierarchies.md
Labels: cherry-pick

#3770 Bugfix/ Fixed compressor shortcut position in the kit automation view
  src/deluge/gui/menu_item/submenu.cpp
  src/deluge/modulation/params/param.h
Labels: cherry-pick

#3780 Bugfix/ Add missing threshold & stutter rate shortcuts to global menus
  src/deluge/gui/menu_item/envelope/segment.h
  src/deluge/gui/ui/menus.cpp
  src/deluge/gui/ui/sound_editor.cpp
Labels: cherry-pick

#3790 Bugfix/ Fixed duplicated parents in parentsForKitGlobalFXShortcuts vector
  src/deluge/gui/ui/menus.cpp
Labels: cherry-pick

#3796 fix(docs): Add redirect from `/docs/features`
  docs/features/Moved to delugecommunity.com.md
Labels: documentation
